<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Approval Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col l12">
                <table id="table-csis" class="responsive-table highlight z-depth-1">
                    <thead style="background-color: rgba(234,233,233,0.5);">
                    <tr class="tr-csis">
                        <th class="th-csis">#</th>
                        <th class="th-csis">Request Name</th>
                        <th class="th-csis">Request Description</th>
                        <th class="th-csis">Status</th>
                        <th class="th-csis"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tr-csis" th:each="header : ${requestHeaders}">
                        <td class="td-csis" th:text="${header.id}"></td>
                        <td class="td-csis" th:text="${header.name}">z</td>
                        <td class="td-csis" th:text="${header.description}">z</td>
                        <td class="td-csis" th:text="${header.status}">z</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('select').formSelect();
        $('.modal').modal();
        $('.collapsible').collapsible();
    });
</script>

</body>

</html>
