<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
        900&display=swap" rel="stylesheet">
    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">


    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header}"></header>
    <aside id="sidebar" th:insert="~{fragments :: sidebar}"></aside>
    <main class="main-container">
        <div class="tab_box">
            <button class="tab_btn active">View Category</button>
            <button class="tab_btn">Create Category</button>
            <!--                    <button class="tab_btn">Update Employee</button>-->
            <!--                    <button class="tab_btn">Delete Employee</button>-->
            <div class="line"></div>
        </div>
        <div class="content_box">
            <div class="content active">
                <div class="form-block">
                    <div class="employee-form">
                        <h4>Categories</h4>
                        <table class="striped">
                            <thead>
                            <tr>
                                <th>Category Code</th>
                                <th>Category Name</th>
                                <th>Description</th>
<!--                                <th>Stock</th>-->
<!--                                <th>Cost</th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${category}">
                                <td th:text="${category.id}">z</td>
                                <td th:text="${category.name}">z</td>
                                <td th:text="${category.description}">z</td>
<!--                                <td th:text="${product.stock}">z</td>-->
<!--                                <td th:text="${product.cost}">z</td>-->
                                <td th:value="${category.id}">
                                    <a th:href="@{/category/edit(id=${category.id})}"><span style="color: gray;" class="material-icons-outlined">update</span></a>
                                    <a th:href="@{'/category/delete/' + ${category.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                        <span style="color: red;" class="material-icons-outlined">close</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="form-block">
                    <div class="employee-form">
                        <h3>Item Setup</h3>
                        <form class="col s12" id="registerForm" action="#" th:action="@{/category/create}" method="post" th:object="${categoryRequest}">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input style="color: black;" th:field="*{name}" id="name" type="text" required>
                                    <label for="name">Category Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input style="color: black;" th:field="*{description}" id="description" type="text" required>
                                    <label for="description">Category Description</label>
                                </div>
                            </div>
<!--                            <div class="row">-->
<!--                                <div class="input-field col s6">-->
<!--                                    <input style="color: black;" th:field="*{stock}" id="stock" type="number" required>-->
<!--                                    <label for="stock">Item Stock</label>-->
<!--                                </div>-->
<!--                                <div class="input-field col s6">-->
<!--                                    <input style="color: black;" th:field="*{cost}" id="cost" type="number" required>-->
<!--                                    <label for="cost">Item Cost</label>-->
<!--                                </div>-->
<!--                            </div>-->
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>

<script>

    // ---------- TABS DESIGN ----------
    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.content');

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    tabs.forEach((tab, index) => {
        tab.addEventListener('click', (e)=> {
            tabs.forEach(tab=>{tab.classList.remove('active')})
            tab.classList.add('active');

            var line = document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content=>{content.classList.remove('active')})
            all_content[index].classList.add('active');
        })
    })

</script>

</body>

</html>
