<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Category Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">


    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header sec:authorize="hasRole('USER')" class="header" th:replace="~{fragments :: header-main-user}"></header>
    <aside sec:authorize="hasRole('USER')" th:replace="~{fragments :: sidebar-user}"></aside>

    <header sec:authorize="hasRole('ADMIN')" class="header" th:replace="~{fragments :: header-main-admin}"></header>
    <aside sec:authorize="hasRole('ADMIN')" th:replace="~{fragments :: sidebar-admin}"></aside>

    <header sec:authorize="hasRole('SUPERADMIN')" class="header" th:replace="~{fragments :: header-main-superadmin}"></header>
    <aside sec:authorize="hasRole('SUPERADMIN')" th:replace="~{fragments :: sidebar-superadmin}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 l6"><a href="#view-category-tab">View Categories</a></li>
                    <li class="tab col s3 l6"><a href="#create-category-tab">Create Category</a></li>
                </ul>
                <div id="view-category-tab">
                    <h5 style="color: black; padding-bottom: 10px;">Categories</h5>
                    <table id="table-csis" class="responsive-table highlight z-depth-1">
                        <thead style="background-color: rgba(234,233,233,0.5);">
                            <tr class="tr-csis">
                                <th class="th-csis">Category Id</th>
                                <th class="th-csis">Category Name</th>
                                <th class="th-csis">Description</th>
                                <th></th>
                            </tr>
                        </thead>
                            <tbody>
                            <tr th:each="category : ${category}">
                                <td th:text="${category.id}">z</td>
                                <td th:text="${category.name}">z</td>
                                <td th:text="${category.description}">z</td>
                                <td class="td-csis crud right" th:value="${category.id}">
                                    <a class="waves-effect waves-light btn-small" th:href="@{/category/edit(id=${category.id})}">
                                        View
                                    </a>
                                    <a class="waves-effect waves-light btn-small blue darken-1" th:href="@{/category/edit(id=${category.id})}">
                                        Update
                                    </a>
                                    <a class="waves-effect waves-light btn-small red lighten-1" th:href="@{'/category/delete/' + ${category.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <div id="create-category-tab">
                    <h3>Category Setup</h3>
                    <form class="col s12" id="registerForm" action="#" th:action="@{/category/create}" method="post" th:object="${categoryRequest}">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">category</i>
                                <input style="color: black;" th:field="*{name}" id="name" type="text" required>
                                <label for="name">Category Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">description</i>
                                <input style="color: black;" th:field="*{description}" id="description" type="text" required>
                                <label for="description">Category Description</label>
                            </div>
                        </div>
    <!--                            <div class="row">-->
    <!--                                <div class="input-field col s6">-->
    <!--                                    <input style="color: black;" th:field="*{stock}" id="stock" type="number" required>-->
    <!--                                    <label for="stock">Item Stock</label>-->
    <!--                                </div>-->
    <!--                                <div class="input-field col s6">-->
    <!--                                    <input style="color: black;" th:field="*{cost}" id="cost" type="number" required>-->
    <!--                                    <label for="cost">Item Cost</label>-->
    <!--                                </div>-->
    <!--                            </div>-->
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>

<script>

    // ---------- TABS DESIGN ----------
    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.content');

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    tabs.forEach((tab, index) => {
        tab.addEventListener('click', (e)=> {
            tabs.forEach(tab=>{tab.classList.remove('active')})
            tab.classList.add('active');

            var line = document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content=>{content.classList.remove('active')})
            all_content[index].classList.add('active');
        })
    })

    $(document).ready(function() {
        $('.tabs').tabs();
    })

</script>

</body>

</html>
