<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Dashboard</title>


        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">


        <!-- MATERIAL ICON -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">


        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}">


    </head>
    <body>
        <div class="grid-container">
            <header class="header" th:replace="~{fragments :: header-main}"></header>
            <aside th:replace="~{fragments :: sidebar}"></aside>

            <main class="main-container">
                <div class="row">
                    <div class="col l3">
                        <div class="card vs bluec">
                            <div class="card-content">
                                <span style="font-size: 18px; font-weight: 300;" class="card-title">Today's Sales</span>
                                <span class="card-numbers">&#x20B1;</span><span id="salesToday" class="card-numbers"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col l3">
                        <div class="card vs greenc">
                            <div class="card-content">
                                <span style="font-size: 18px; font-weight: 300;" class="card-title">Suppliers</span>
                                <span style="font-size: 30px;" class="material-icons-outlined card-numbers-icons ">groups_3</span>
                                <span class="card-numbers" th:text="${noOfSuppliers}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col l3">
                        <div class="card vs yellowc">
                            <div class="card-content">
                                <span style="font-size: 18px; font-weight: 300;" class="card-title"> Total Products</span>
                                <span style="font-size: 30px;" class="material-icons-outlined card-numbers-icons ">inventory_2</span>
                                <span class="card-numbers" th:text="${noOfProducts}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col l3">
                        <div class="card vs redc">
                            <div class="card-content">
                                <span style="font-size: 18px; font-weight: 300;" class="card-title">Low Stock Products</span>
                                <span style="font-size: 30px;" class="material-icons-outlined card-numbers-icons ">inventory_2</span>
                                <span class="card-numbers" th:text="${noOfLowStockProducts}"></span>
                            </div>
                            <a class="btn modal-trigger" href="#modal"
                                    style="background-color: transparent; margin-left: 20px; border: 1px solid black; border-radius: 10px;">
                                View Low Stock Items
                            </a>
                            <div style="border-radius: 10px; width: 500px;" id="modal" class="modal">
                                <div class="modal-content">
                                    <h4>Items with low stock:</h4>
                                    <div class="row">
                                        <table>
                                            <thead>
                                                <th>Item</th>
                                                <th>Current Stock</th>
                                            </thead>
                                            <tr th:each="lowStockProduct : ${lowStockProducts}">
                                                <td th:text="${lowStockProduct.name}">Item 1</td>
                                                <td th:text="${lowStockProduct.stock}">25</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div style="margin: 0px;" class="row modal-footer teal">
<!--                                    <div style="text-align: center;" class="col l6">-->
<!--                                        <a id="closeModal" href="" class="modal-close waves-effect waves-green btn-flat" >Confirm</a>-->
<!--                                    </div>-->
<!--                                    <div style="text-align: center;" class="col l6">-->
<!--                                        <a id="restockBtn" href="" class="modal-close waves-effect waves-green btn-flat" >Close</a>-->
<!--                                    </div>-->
                                        <a id="restockBtn" th:href="@{/requestLowStock}" ref="" style="text-align: center;" class="modal-close waves-effect waves-green btn-flat col l6" >Request for Restock</a>
                                        <a id="closeModal" href="" style="text-align: center;" class="modal-close waves-effect waves-green btn-flat col l6" >Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col l6">
                        <div style="height: 420px;" class="card">
                            <div class="card-content">
                                <span class="card-title">Top 5 Best Selling Products</span>
                                <div id="bar-chart"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
<!--                        <div style="height: 420px;" class="col l6">-->
<!--                            <div style="max-height: 420px; overflow: scroll; overflow-x: hidden;" class="card">-->
<!--                                <div class="card-content row">-->
<!--                                    <span class="card-title col l12">New Products Released This Month</span>-->
<!--                                    <div style="border-radius: 15px; height: 180px; width: 162px; margin: 7px;" th:each="productsThisMonth : ${productsOfMonth}" class="card small hoverable col l3">-->
<!--                                        <div style="border-top-left-radius:15px; border-top-right-radius: 15px;" class="card-image">-->
<!--                                            <a class="modal-trigger" th:attr="data-target=|modal-${productsThisMonth.id}|">-->
<!--                                                <img th:src="@{/{productId}/product_image(productId=${productsThisMonth.id})}">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div style="padding: 5px; border-top: 1px solid gray;" class="card-content">-->
<!--                                            <p name="productName" class="bold" th:text="${productsThisMonth.name}"></p>-->
<!--                                            <p th:text="${productsThisMonth.description}"></p>-->
<!--                                        </div>-->
<!--                                        <div style="border-radius: 10px; background-color: #8080806c;" th:id="|modal-${productsThisMonth.id}|" class="modal">-->
<!--                                            <div class="modal-content">-->
<!--                                                <img class="center" id="modal-image" th:src="@{/{productId}/product_image(productId=${productsThisMonth.id})}">-->
<!--                                            </div>-->
<!--                                            <div class="modal-footer teal lighten-2">-->
<!--                                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    <div class="col l6">
                        <div style="height: 420px;" class="card">
                            <div class="card-content row">
                                <div class="col l12">
                                    <span style="display: inline-block;" class="card-title">Sales Summary</span>
                                    <span class="right">
                                        <select id="date" class="btn browser-default">
                                            <option disabled selected>Time period</option>
                                            <option value="TODAY">Today</option>
                                            <option value="WEEK">This Week</option>
                                            <option value="MONTH">This Month</option>
                                            <option value="YEAR">This Year</option>
                                            <option value="">Custom</option>
                                        </select>
                                    </span>
                                </div>

                                <div id="radial-chart1" class="col l4"></div>
                                <div id="radial-chart2" class="col l4"></div>
                                <div id="radial-chart3" class="col l4"></div>
                            </div>
                        </div>
                    </div>
                </div>



<!--                    <div class="col l6">-->
<!--                        <div style="max-height: 400px; overflow: scroll; overflow-x: hidden;" class="card">-->
<!--                            <div class="card-content row">-->
<!--                                <span class="card-title col l12">New Products Released Today</span>-->
<!--                                <div style="border-radius: 15px; height: 180px; width: 162px; margin: 7px;" th:each="productsToday : ${productsToday}" class="card small hoverable col l3">-->
<!--                                    <div style="border-top-left-radius:15px; border-top-right-radius: 15px;" class="card-image">-->
<!--                                        <a class="modal-trigger" th:attr="data-target=|modal-${productsToday.id}|">-->
<!--                                            <img th:src="@{/{productId}/product_image(productId=${productsToday.id})}">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div style="padding: 5px; overflow-y: hidden; border-top: 1px solid gray;" class="card-content">-->
<!--                                        <p name="productName" class="bold" th:text="${productsToday.name}"></p>-->
<!--                                        <p th:text="${productsToday.description}"></p>-->
<!--                                    </div>-->
<!--                                    <div style="border-radius: 10px; background-color: rgb(255 255 255 / 79%);" th:id="|modal-${productsToday.id}|" class="modal">-->
<!--                                        <div class="modal-content">-->
<!--                                            <img class="center" id="modal-imagez" th:src="@{/{productId}/product_image(productId=${productsToday.id})}">-->
<!--                                        </div>-->
<!--                                        <div class="modal-footer teal lighten-2">-->
<!--                                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </main>
        </div>


        <!-- SCRIPTS -->
        <script th:src="@{https://cdn.jsdelivr.net/npm/apexcharts}"></script>
        <script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
        <script type="text/javascript" th:src="@{js/dashboard.js}"></script>
        <script>
            $(document).ready(function() {
                $('.sidenav').sidenav();
                $('.modal').modal();
                $('.dropdown-trigger').dropdown();
                $('select').formSelect();
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html>