<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Edit Supplier</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">


    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>


    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="grid-container">
        <header class="header" th:replace="~{fragments :: header-main}"></header>
        <aside th:replace="~{fragments :: sidebar}"></aside>

        <div class="main-container">
            <div class="form-block">
                <div class="gray-background">
                    <h3 style="color:black;">Update Supplier Details</h3>
                    <form class="col s12" id="registerForm" action="#" th:action="@{/supplier/edit}" method="post" th:object="${supplierRequest}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input readonly style="color: black;" th:value="${supplier.id}" id="id" type="text" name="id">
                                <label for="id">ID</label>
                            </div>
                            <div class="input-field col s6">
                                <input readonly style="color: black;" th:value="*{supplierNo}" th:field="*{supplierNo}" id="supplierNo" type="text" name="id">
                                <label for="supplierNo">Supplier No</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input style="color: black;"  th:field="*{name}" id="name" type="text" class="validate" required>
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input style="color: black;" th:field="*{contactNo}" id="contactNo" type="text" class="validate" required>
                                <label for="contactNo">Contact No</label>
                            </div>
                            <div class="input-field col s6">
                                <input style="color: black;" th:field="*{email}" id="email" type="text" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{addressLine1}" id="address1" type="text" required>
                                <label for="name">Address Line 1</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{addressLine2}" id="address2" type="text" required>
                                <label for="name">Address Line 2</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{addressLine3}" id="address3" type="text" required>
                                <label for="name">Address Line 3</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{agentName}" id="agentName" type="text" required>
                                <label for="name">Agent Name</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{agentContactNo}" id="agentContactNo" type="text" required>
                                <label for="name">Agent Contact No</label>
                                <p id="agentContactNo-message"></p>
                            </div>
                        </div>
                        <button id="submit" type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
    <script>


        $(document).ready(function() {
            $('.tabs').tabs();
            $('.collapsible').collapsible();
            $('#image').on('change', function() {

                //console.log(this.files);
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#thumbnail').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            })
        });
    </script>


</body>
</html>