<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
        900&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
        <div class="grid-container">
            <header sec:authorize="hasRole('USER')" class="header" th:replace="~{fragments :: header-main-user}"></header>
            <aside sec:authorize="hasRole('USER')" th:replace="~{fragments :: sidebar-user}"></aside>

            <header sec:authorize="hasRole('ADMIN')" class="header" th:replace="~{fragments :: header-main-admin}"></header>
            <aside sec:authorize="hasRole('ADMIN')" th:replace="~{fragments :: sidebar-admin}"></aside>

            <header sec:authorize="hasRole('SUPERADMIN')" class="header" th:replace="~{fragments :: header-main-superadmin}"></header>
            <aside sec:authorize="hasRole('SUPERADMIN')" th:replace="~{fragments :: sidebar-superadmin}"></aside>

            <main class="main-container">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3 l6"><a href="#view-staff-tab">View Staff</a></li>
                            <li class="tab col s3 l6"><a href="#create-staff-tab">Create Staff Account</a></li>
                        </ul>
                        <div id="view-staff-tab">
                            <h4 style="color: black;">List of Employee</h4>
                            <table class="responsive-table highlight">
                                <thead style="background-color: rgba(234,233,233,0.5);">
                                    <tr>
                                        <th>First Name</th>
                                        <th>Middle Name</th>
                                        <th>Last Name</th>
                                        <th>Contact No.</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${user}"> <!--th:if="${user.enabled}">-->
                                        <td th:text="${user.firstName}">z</td>
                                        <td th:text="${user.middleName}">z</td>
                                        <td th:text="${user.lastName}">z</td>
                                        <td th:text="${user.contactNo}">z</td>
                                        <td th:text="${user.email}">z</td>
<!--                                            <td th:text="${user.roles}">z</td>-->
                                        <td th:value="${user.id}">
                                            <a th:href="@{/employee/edit(id=${user.id})}"><span style="color: gray;" class="material-icons-outlined">update</span></a>
                                            <a th:href="@{'/employee/delete/' + ${user.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                                <span style="color: red;" class="material-icons-outlined">close</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row"></div>
                        <div id="create-staff-tab">
                            <div class="col l2"></div>
                            <div class="col l8">
                            <h3>Employee Details Setup</h3>
                            <form  id="registerForm" action="#" th:action="@{/api/v1/registration/test}" method="post" th:object="${registrationRequest}">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">badge</i>
                                        <input style="color: black;" th:field="*{firstName}" id="first_name" type="text" class="validate" required>
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">badge</i>
                                        <input style="color: black;" th:field="*{middleName}" id="middle_name" type="text" class="validate" required>
                                        <label for="middle_name">Middle Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">badge</i>
                                        <input style="color: black;" th:field="*{lastName}" id="last_name" type="text" class="validate" required>
                                        <label for="last_name">Last Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">phone</i>
                                        <input style="color: black;" th:field="*{contactNo}" id="contact_no" type="text" class="validate" required>
                                        <label for="contact_no">Contact No</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">account_circle</i>
                                        <input style="color: black;" th:field="*{username}" id="username" type="text" class="validate" required>
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">alternate_email</i>
                                        <input style="color: black;" th:field="*{email}" id="email" type="email" class="validate" required>
                                        <label for="email">Email</label>
                                        <span class="helper-text" data-error="wrong" data-success="right"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">lock</i>
                                        <input style="color: black;" th:field="*{password}" id="password" type="password" class="validate" required>
                                        <label for="password">Password</label>
                                    </div>

                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">manage_accounts</i>
                                        <select th:field="*{roleRequest}" id="role" name="role" required>
                                            <option value="" disabled selected>Choose your option</option>
                                            <option sec:authorize="hasRole('SUPERADMIN')" value="ADMIN">Admin</option>
                                            <option value="USER">User</option>
                                        </select>
                                        <label>Role</label>
                                    </div>
                                </div>
                                <button id="submit" type="submit"  class="btn btn-primary">Submit</button>
                            </form>
                            </div>
                            <div class="col l2"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script type="text/javascript" th:src="@{js/materialize.min.js}"></script>

        <script>

            // ---------- TABS DESIGN ----------
            const tabs = document.querySelectorAll('.tab_btn');
            const all_content = document.querySelectorAll('.content');

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });

            tabs.forEach((tab, index) => {
                tab.addEventListener('click', (e)=> {
                    tabs.forEach(tab=>{tab.classList.remove('active')})
                    tab.classList.add('active');

                    var line = document.querySelector('.line');
                    line.style.width = e.target.offsetWidth + "px";
                    line.style.left = e.target.offsetLeft + "px";

                    all_content.forEach(content=>{content.classList.remove('active')})
                    all_content[index].classList.add('active');
                })
            })

            $(document).ready(function() {
                $('.tabs').tabs();

                $('select').formSelect();

                $("#registerForm").submit(function(event) {

                    event.preventDefault();
                    ajaxPost();
                    refreshForm();
                });

                function refreshForm() {
                    $("#first_name").val("");
                    $("#last_name").val("");
                    $("#middle_name").val("");
                    $("#contact_no").val("");
                    $("#username").val("");
                    $("#email").val("");
                    $("#password").val("");
                    $("#role").val("");
                }

                function ajaxPost() {
                    alert($("#role").val());

                    var formData = {
                        firstName : $("#first_name").val(),
                        lastName : $("#last_name").val(),
                        middleName : $("#middle_name").val(),
                        contactNo : $("#contact_no").val(),
                        username : $("#username").val(),
                        email : $("#email").val(),
                        password : $("#password").val(),
                        roleRequest : $("#role").val()
                    }

                    $.ajax({
                        type: "POST",
                        contentType : "application/json",
                        url: "api/v1/registration/test",
                        data: JSON.stringify(formData),
                        dataType: 'text',
                        success : function(data, textStatus, xhr) {
                            if (xhr.status == 200) {
                                M.toast({html: 'Employee Added!!'});
                            } else {
                                M.toast({html: ' Something went wrong.'});
                            }
                        },
                        error: function(e) {
                            console.log(e)

                        }
                    })
                }

//                function ajaxGet() {
//                    $.ajax({
//                        type: "GET",
//                        url:
//                    })
//                }


            });
        </script>

</body>

</html>
