<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.min.css" rel="stylesheet" integrity="sha384-d76uxpdVr9QyCSR9vVSYdOAZeRzNUN8A4JVqUHBVXyGxZ+oOfrZVHC/1Y58mhyNg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js" integrity="sha384-YDIK5P2Wq/2RyB+U8Zt970p1L/fEftZwbF3e22rV/bPMW+m8z+JjycMAr96s7LAz" crossorigin="anonymous"></script>

</head>

<body>
        <div class="grid-container">
            <header class="header" th:replace="~{fragments :: header-main}"></header>
            <aside th:replace="~{fragments :: sidebar}"></aside>

            <main class="main-container">
                <div class="row">
                    <div class="col s12">
                        <h4 class="page-header">Users</h4>
                        <ul sec:authorize="hasAuthority('CREATE_USER_PERM')" class="tabs">
                            <li class="tab col s3 l6"><a href="#view-staff-tab">View Users</a></li>
                            <li class="tab col s3 l6"><a href="#create-staff-tab">Create User Account</a></li>
                        </ul>

                        <div sec:authorize="hasAuthority('CREATE_USER_PERM')" class="row"></div>

                        <div id="view-staff-tab">
                            <table id="userTable" class="z-depth-1 display table-csis">
                                <thead style="background-color: rgba(234,233,233,0.5);">
                                    <tr class="tr-csis">
                                        <th class="dt-head-left th-csis">Full Name</th>
                                        <th class="dt-head-left th-csis">Contact No.</th>
                                        <th class="dt-head-left th-csis">Email</th>
                                        <th class="dt-head-left th-csis">Status</th>
                                        <th class="dt-head-left th-csis">Role</th>
                                        <th class="dt-head-left th-csis" data-dt-order="disable"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tr-csis-body" th:each="user : ${user}"> <!--th:if="${user.enabled}">-->
                                        <td class="dt-body-left td-csis" th:text="${user.getFullName()}">z</td>
                                        <td class="dt-body-left td-csis" th:text="${user.contactNo}">z</td>
                                        <td class="dt-body-left td-csis" th:text="${user.email}">z</td>
                                        <td class="dt-body-left td-csis">
                                            <p th:if="${user.enabled == true}"> Enabled </p>
                                            <p th:unless="${user.enabled}"> Disabled </p>
                                        </td>
                                        <td class="dt-body-left td-csis" th:each="userRole : ${user.roles}" th:text="${userRole.getName()}"> </td>
<!--                                            <td th:text="${user.roles}">z</td>-->

                                        <td class="dt-body-left td-csis" th:value="${user.id}">
                                            <div class="right">
                                                <a sec:authorize="hasAuthority('READ_USER_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{'/employee/' + ${user.id}}">
                                                    View
                                                </a>
                                                <a sec:authorize="hasAuthority('UPDATE_USER_PERM')" class="waves-effect waves-light btn-small blue darken-1 crud" th:href="@{/employee/edit(id=${user.id})}">
                                                    Update
                                                </a>
                                                <a sec:authorize="hasAuthority('DELETE_USER_PERM')" class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/employee/delete/' + ${user.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                                    Delete
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row"></div>

                        <div sec:authorize="hasAuthority('CREATE_USER_PERM')" id="create-staff-tab">
                            <div class="col l2"></div>

                            <form style="border-radius: 30px; padding: 30px;" class="col s12 l8 z-depth-1" id="registerForm" action="#"
                                  th:action="@{/api/v1/registration/test}" method="post" th:object="${registrationRequest}">
                                <h5>User Details Setup</h5>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">badge</i>
                                        <input style="color: black;" th:field="*{firstName}" id="first_name" type="text" required>
                                        <label for="first_name">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">badge</i>
                                        <input style="color: black;" th:field="*{middleName}" id="middle_name" type="text" required>
                                        <label for="middle_name">Middle Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">badge</i>
                                        <input style="color: black;" th:field="*{lastName}" id="last_name" type="text" required>
                                        <label for="last_name">Last Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">phone</i>
                                        <input style="color: black;" th:field="*{contactNo}" id="contact_no" type="text" required>
                                        <label for="contact_no">Contact No</label>
                                        <p id="contactNo-message"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">account_circle</i>
                                        <input style="color: black;" th:field="*{username}" id="username" type="text" required>
                                        <label for="username">Username</label>
                                        <p  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                            Invalid Username
                                        </p>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">alternate_email</i>
                                        <input style="color: black;" th:field="*{email}" id="email" type="email" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">lock</i>
                                        <input style="color: black;" th:field="*{password}" id="password" type="password" required>
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">lock</i>
                                        <input style="color: black;"  id="confirm-password" type="password" required>
                                        <label for="confirm-password">Confirm Password</label>
                                        <p id="password-message"></p>
<!--                                        <p  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">-->
<!--                                            Invalid Password-->
<!--                                        </p>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons-round prefix">manage_accounts</i>
                                        <select th:field="*{roleRequest}" id="role" name="role" required>
                                            <option value="" disabled selected>Choose your option</option>
<!--                                            <option sec:authorize="hasRole('SUPERADMIN')" value="SUPERADMIN">Super Admin</option>-->
<!--                                            <option sec:authorize="hasRole('SUPERADMIN')" value="ADMIN">Admin</option>-->
<!--                                            <option value="USER">User</option>-->
<!--                                            th:remove="(${role.name} == 'Super Admin'-->
<!--                                            or ${role.name} == 'System Admin') and (${#authentication.principal.getRole()} != 'Super Admin' or ${#authentication.principal.getRole()} != 'System Admin' ) ? all : none"-->
                                            <option th:each="role : ${role}" th:text="${role.name}" th:value="${role.name}"
                                                    th:if="${role.name} != 'System Admin'"
                                                    th:remove="${role.name} == 'Super Admin' and (${#authentication.principal.getRole()} != 'System Admin' and
                                                     ${#authentication.principal.getRole()} != 'Super Admin') ? all : none" ></option>
                                        </select>
                                        <label>Role</label>
                                    </div>
                                </div>
                                <button id="submit" type="submit" class="btn btn-primary">Submit</button>

                            </form>
                            <div class="col l2"></div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });

            var collapsibleElem = document.querySelector('.collapsible');
            var collapsibleInstance = M.Collapsible.init(collapsibleElem, {});

            $(document).ready(function() {
                $('#password, #confirm-password').on('keyup', function() {
                   if($('#password').val() == $('#confirm-password').val()) {
                       $('#password-message').html("Password matched!").css('color','green');
                       $("#submit").prop('disabled', false);
                   } else {
                       $('#password-message').html("Password does not match!").css('color','red');
                       $("#submit").prop('disabled', true);
                   }
                });

                $('#contact_no').on('keyup', function() {
                    if ($('#contact_no').val().length == 0 || $('#contact_no').val().length == null) {
                        $('#contactNo-message').html('')
                    }
                    else if($('#contact_no').val().length != 11) {
                        $('#contactNo-message').html('Contact number must be valid!').css('color', 'red');
                        $("#submit").prop('disabled', true);
                    } else {
                        $('#contactNo-message').html('')
                        $("#submit").prop('disabled', false);
                    }

                });

                $('.sidenav').sidenav();
                $('.tabs').tabs();
                $('.modal').modal();
                $('#userTable').DataTable({
                    layout: {
                        topStart: {
                            buttons: ['csv', 'excel', 'pdf', 'print']
                        }
                    }
                });
                $('select').formSelect();


                $("#registerForm").submit(function(event) {
                    event.preventDefault();
                    ajaxPost();
                    refreshForm();
                });

                function refreshForm() {
                    $("#first_name").val("");
                    $("#last_name").val("");
                    $("#middle_name").val("");
                    $("#contact_no").val("");
                    $("#username").val("");
                    $("#email").val("");
                    $("#password").val("");
                    $("#confirm-password").val("");
                    $("#role").val("");
                    $("#image").val("");
                }

                function ajaxPost() {
                    var formData = {
                        firstName : $("#first_name").val(),
                        lastName : $("#last_name").val(),
                        middleName : $("#middle_name").val(),
                        contactNo : $("#contact_no").val(),
                        username : $("#username").val(),
                        email : $("#email").val(),
                        password : $("#password").val(),
                        roleRequest : $("#role").val()
                    }

                    $.ajax({
                        type: "POST",
                        contentType : "application/json",
                        url: "api/v1/registration/test",
                        data: JSON.stringify(formData),
                        dataType: 'text',
                        success : function(data, textStatus, xhr) {
                            if (xhr.status == 500) {
                                M.toast({html: ' Something went wrong.'});
                            }
                            if (xhr.status == 200) {
                                M.toast({html: 'Employee Added!!'});
                            } else {
                                M.toast({html: ' Something went wrong.'});
                            }
                        },
                        error: function(e) {
                            console.log(e)
                        }
                    })
                }

//                function ajaxGet() {
//                    $.ajax({
//                        type: "GET",
//                        url:
//                    })
//                }


            });
        </script>

</body>

</html>
