<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
        900&display=swap" rel="stylesheet">


    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

        <header th:fragment="header">
            <div class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-2">
                        <a href="#" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="sass.html">---</a></li>
                            <li><a href="badges.html">---</a></li>
                            <li><a href="collapsible.html">---</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <aside th:fragment="sidebar">


            <ul id="slide-out" class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img style="filter: blur(3px);" th:src="@{images/login-bg.jpg}">
                        </div>
                            <a href="#user"><img class="circle" th:src="@{images/barkstorelogo.png}"></a>
                            <a href="#name"><span class="white-text name">John Doe</span></a>
                            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                   </div>
                </li>
                <li><a class="subheader">Inventory</a></li>
                <li>
                    <a style="color: white;" th:href="@{/index}"> <i style="color: white;" class="material-icons-round">dashboard</i> Dashboard </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/product}"><i style="color: white;" class="material-icons-round">inventory_2</i> Products </a>
                </li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Menu</a></li>
<!--                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
                <li>
                    <a style="color: white;" th:href="@{/employee}"> Staff </a>
                </li>
                <li >
                    <a style="color: white;" th:href="@{/category}"> Categories </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/itemType}"> Item Type </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Suppliers </a>
                </li>
                <li>
                    <a style="color: white;" href="#">Inventory </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Reports </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Settings </a>
                </li>

            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><span style="color:black;" class="material-icons-round">menu</span></a>
        </aside>
<!--        <aside id="sidebar" th:fragment="sidebar">-->
<!--            <div class="sidebar-title">-->
<!--                <div class="sidebar-brand">-->
<!--                    <span class="material-icons-outlined">shopping_cart</span>-->
<!--                </div>-->
<!--                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>-->
<!--            </div>-->

<!--            <ul class="sidebar-list">-->
<!--                <li class="sidebar-list-item">-->
<!--                    <a th:href="@{/index}"> <span class="material-icons-outlined">dashboard</span> Dashboard </a>-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <a th:href="@{/employee}"><span class="material-icons-outlined">dashboard</span> Staff </a>-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <a th:href="@{/product}"><span class="material-icons-outlined">inventory_2</span> Products </a>-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <a th:href="@{/category}"><span class="material-icons-outlined">category</span> Categories </a>-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <a th:href="@{/itemType}"><span class="material-icons-outlined">category</span> Item Type </a>-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <span class="material-icons-outlined">groups</span> Suppliers-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <span class="material-icons-outlined">fact_check</span> Inventory-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <span class="material-icons-outlined">poll</span> Reports-->
<!--                </li>-->
<!--                <li class="sidebar-list-item">-->
<!--                    <span class="material-icons-outlined">settings</span> Settings-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <button class="logout" type="submit" >Logout</button>-->
<!--            </form>-->
<!--        </aside>-->

</body>
</html>