<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
        900&display=swap" rel="stylesheet">


    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

        <header th:fragment="header-main-user">
            <div style="z-index: 9999;" class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-2">
                        <a th:href="@{/index}" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile-main-user" class="right hide-on-med-and-down">
                            <li class="logout">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn waves-effect waves-light red lighten-1 logout-button" type="submit" onclick="return confirm('Are you sure you want to logout?')">
                                        Logout
                                        <i style="position: relative; bottom: 12px;" class="material-icons-round right">logout</i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <header th:fragment="header-main-admin">
            <div style="z-index: 9999;" class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-3">
                        <a th:href="@{/index}" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile-main-admin" class="right hide-on-med-and-down">
                            <li class="logout">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn waves-effect waves-light red lighten-1 logout-button" type="submit" onclick="return confirm('Are you sure you want to logout?')">
                                        Logout
                                        <i style="position: relative; bottom: 12px;" class="material-icons-round right">logout</i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <header th:fragment="header-main-superadmin">
            <div style="z-index: 9999;" class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-4">
                        <a th:href="@{/index}" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile-main-superadmin" class="right hide-on-med-and-down">
                            <li class="logout">
                                <form method="post" th:action="@{/logout}">
                                    <button class="btn waves-effect waves-light red lighten-1 logout-button" type="submit" onclick="return confirm('Are you sure you want to logout?')">
                                        Logout
                                        <i style="position: relative; bottom: 12px;" class="material-icons-round right">logout</i>
                                    </button>
                                </form>
                            </li>

                        </ul>

                    </div>
                </nav>
            </div>
        </header>

        <header th:fragment="header-homepage-user">
            <div style="z-index: 9999;" class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-2">
                        <a th:href="@{/index}" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile-user" class="right hide-on-med-and-down">
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <header th:fragment="header-homepage-admin">
            <div style="z-index: 9999;" class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-2">
                        <a th:href="@{/index}" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile-admin" class="right hide-on-med-and-down">
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <header th:fragment="header-homepage-superadmin">
            <div style="z-index: 9999;" class="navbar-fixed">
                <nav>
                    <div style="background: #46bba9;" class="nav-wrapper teal lighten-2">
                        <a th:href="@{/index}" class="brand-logo">Barkstore</a>
                        <ul id="nav-mobile-superadmin" class="right hide-on-med-and-down">
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <aside th:fragment="sidebar-user">
            <ul style="margin-top: 65px;" id="slide-out-user" class="sidenav user sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img style="filter: blur(3px);" th:src="@{../images/login-bg.jpg}">
                        </div>
                            <a href="#user"><img class="circle" th:src="@{../images/barkstorelogo.png}"></a>
                        <a href="#name"><span th:text="${#authentication.getPrincipal().getFullName()}" class="white-text name"></span></a>
                        <a href="#email">
                            <span th:if="${#strings.contains(#authentication.principal.authorities, 'ROLE_USER')}" class="white-text email">
                                User
                            </span>
                        </a>
                   </div>
                </li>
                <li><a class="subheader"><i>Inventory</i></a></li>
                <li>
                    <a style="color: white;" th:href="@{/dashboard}"> <i style="color: white;" class="material-icons-round">dashboard</i> Dashboard </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/product}"><i style="color: white;" class="material-icons-round">inventory_2</i> Products </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/request}"><i style="color: white;" class="material-icons-round">local_grocery_store</i> Request Items </a>
                </li>
                <li><div class="divider"></div></li>
                <li><a class="subheader"><i>Menu</i></a></li>
<!--                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
                <li>
                    <a style="color: white;" href="#"> Settings </a>
                </li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><span style="color:black;" class="material-icons-round">menu</span></a>
        </aside>
        <aside th:fragment="sidebar-admin">
            <ul style="margin-top: 65px;" id="slide-out-admin" class="sidenav admin sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img style="filter: blur(3px);" th:src="@{../images/login-bg.jpg}">
                        </div>
                        <a href="#user"><img class="circle" th:src="@{../images/barkstorelogo.png}"></a>
                        <a href="#name"><span th:text="${#authentication.getPrincipal().getFullName()}" class="white-text name"></span></a>
                        <a href="#email">
                            <span th:if="${#strings.contains(#authentication.principal.authorities, 'ROLE_ADMIN')}" class="white-text email">
                                Admin
                            </span>
                        </a>
                    </div>
                </li>
                <li><a class="subheader"><i>Inventory</i></a></li>
                <li>
                    <a style="color: white;" th:href="@{/dashboard}"> <i style="color: white;" class="material-icons-round">dashboard</i> Dashboard </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/product}"><i style="color: white;" class="material-icons-round">inventory_2</i> Products </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/approve}"><i style="color: white;" class="material-icons-round">rule</i> Approve Requests </a>
                </li>
                <li><div class="divider"></div></li>
                <li><a class="subheader"><i>Menu</i></a></li>
                <!--                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a style="color: white; padding-left: 30px;" class="collapsible-header">User Management<i style="color: white;" class="material-icons-round right">arrow_drop_down</i></a>
                            <div class="collapsible-body teal lighten-1">
                                <ul>
                                    <li>
                                        <a style="color: white;" th:href="@{/employee}"> Users </a>
                                    </li>
                                    <li><a style="color: white;" href="#!">Second</a></li>
                                    <li><a style="color: white;" href="#!">Third</a></li>
                                    <li><a style="color: white;" href="#!">Fourth</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li >
                    <a style="color: white;" th:href="@{/category}"> Categories </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/itemType}"> Item Type </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Suppliers </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Reports </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Settings </a>
                </li>
            </ul>
            <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>

            <a href="#" data-target="slide-out" class="sidenav-trigger"><span style="color:black;" class="material-icons-round">menu</span></a>
        </aside>
        <aside th:fragment="sidebar-superadmin">
            <ul style="margin-top: 65px;" id="slide-out-superadmin" class="sidenav superadmin sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img style="filter: blur(3px);" th:src="@{../images/login-bg.jpg}">
                        </div>
                        <a href="#user"><img class="circle" th:src="@{../images/barkstorelogo.png}"></a>
                        <a href="#name"><span th:text="${#authentication.getPrincipal().getFullName()}" class="white-text name"></span></a>
                        <a href="#email">
                            <span th:if="${#strings.contains(#authentication.principal.authorities, 'ROLE_SUPERADMIN')}" class="white-text email">
                                Super Admin
                            </span>
                        </a>
                    </div>
                </li>
                <li><a class="subheader"><i>Inventory</i></a></li>
                <li>
                    <a style="color: white;" th:href="@{/dashboard}"> <i style="color: white;" class="material-icons-round">dashboard</i> Dashboard </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/product}"><i style="color: white;" class="material-icons-round">inventory_2</i> Products </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/request}"><i style="color: white;" class="material-icons-round">local_grocery_store</i> Request Items </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/approve}"><i style="color: white;" class="material-icons-round">rule</i> Approve Requests </a>
                </li>
                <li><div class="divider"></div></li>
                <li><a class="subheader"><i>Menu</i></a></li>
                <!--                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a style="color: white; padding-left: 30px;" class="collapsible-header">User Management<i style="color: white;" class="material-icons-round right">arrow_drop_down</i></a>
                            <div class="collapsible-body teal lighten-2">
                                <ul>
                                    <li>
                                        <a style="color: white;" th:href="@{/employee}"> Users </a>
                                    </li>
                                    <li><a style="color: white;" href="#!">Second</a></li>
                                    <li><a style="color: white;" href="#!">Third</a></li>
                                    <li><a style="color: white;" href="#!">Fourth</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li >
                    <a style="color: white;" th:href="@{/category}"> Categories </a>
                </li>
                <li>
                    <a style="color: white;" th:href="@{/itemType}"> Item Type </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Suppliers </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Reports </a>
                </li>
                <li>
                    <a style="color: white;" href="#"> Settings </a>
                </li>
            </ul>



<!--            <a href="#" data-target="slide-out" class="sidenav-trigger"><span style="color:black;" class="material-icons-round">menu</span></a>-->
        </aside>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });

     var collapsibleElem = document.querySelector('.collapsible');
     var collapsibleInstance = M.Collapsible.init(collapsibleElem, {});

    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>