<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Item Type Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
        900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">




    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header sec:authorize="hasRole('USER')" class="header" th:replace="~{fragments :: header-main-user}"></header>
    <aside sec:authorize="hasRole('USER')" th:replace="~{fragments :: sidebar-user}"></aside>

    <header sec:authorize="hasRole('ADMIN')" class="header" th:replace="~{fragments :: header-main-admin}"></header>
    <aside sec:authorize="hasRole('ADMIN')" th:replace="~{fragments :: sidebar-admin}"></aside>

    <header sec:authorize="hasRole('SUPERADMIN')" class="header" th:replace="~{fragments :: header-main-superadmin}"></header>
    <aside sec:authorize="hasRole('SUPERADMIN')" th:replace="~{fragments :: sidebar-superadmin}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 l6"><a href="#view-itemType-tab">View Products</a></li>
                    <li class="tab col s3 l6"><a href="#create-itemType-tab">Create Products</a></li>
                </ul>
                <div id="view-itemType-tab">
                    <h4>Item Types</h4>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Item Type Id</th>
                                <th>Item Type Name</th>

                                <!--                                <th>Stock</th>-->
                                <!--                                <th>Cost</th>-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="itemType : ${itemType}">
                                <td th:text="${itemType.id}">z</td>
                                <td th:text="${itemType.name}">z</td>
    <!--                                <td th:text="${category.description}">z</td>-->
                                <!--                                <td th:text="${product.stock}">z</td>-->
                                <!--                                <td th:text="${product.cost}">z</td>-->
                                <td th:value="${itemType.id}">
                                    <a th:href="@{/itemType/edit(id=${itemType.id})}"><span style="color: gray;" class="material-icons-outlined">update</span></a>
                                    <a th:href="@{'/itemType/delete/' + ${itemType.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                        <span style="color: red;" class="material-icons-outlined">close</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="create-itemType-tab">
                    <h3>Item Type Setup</h3>
                    <form class="col s12" id="registerForm" action="#" th:action="@{/itemType/create}" method="post" th:object="${itemTypeRequest}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input style="color: black;" th:field="*{name}" id="name" type="text" required>
                                <label for="name">Category Name</label>
                            </div>
<!--                                <div class="input-field col s6">-->
<!--                                    <input style="color: black;" th:field="*{description}" id="description" type="text" required>-->
<!--                                    <label for="description">Category Description</label>-->
<!--                                </div>-->
                        </div>
                        <!--                            <div class="row">-->
                        <!--                                <div class="input-field col s6">-->
                        <!--                                    <input style="color: black;" th:field="*{stock}" id="stock" type="number" required>-->
                        <!--                                    <label for="stock">Item Stock</label>-->
                        <!--                                </div>-->
                        <!--                                <div class="input-field col s6">-->
                        <!--                                    <input style="color: black;" th:field="*{cost}" id="cost" type="number" required>-->
                        <!--                                    <label for="cost">Item Cost</label>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>

<script>

    // ---------- TABS DESIGN ----------
    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.content');

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    tabs.forEach((tab, index) => {
        tab.addEventListener('click', (e)=> {
            tabs.forEach(tab=>{tab.classList.remove('active')})
            tab.classList.add('active');

            var line = document.querySelector('.line');
            line.style.width = e.target.offsetWidth + "px";
            line.style.left = e.target.offsetLeft + "px";

            all_content.forEach(content=>{content.classList.remove('active')})
            all_content[index].classList.add('active');
        })
    })

    $(document).ready(function() {
        $('.tabs').tabs();
    });
    // ---------- ---------- ----------



    //    $(document).ready(function() {
    //        $("#registerForm").submit(function(event) {
    ////            event.preventDefault();
    ////            ajaxPost();
    //            refreshForm();
    //        });
    //
    //        function refreshForm() {
    //            $("#name").val("");
    //            $("#description").val("");
    //            $("#cost").val("");
    //        }
    //
    //        function ajaxPost() {
    //            var formData = {
    //                name : $("#name").val(),
    //                description : $("#description").val(),
    //                cost : $("#cost").val(),
    //            }
    //
    //            $.ajax({
    //                type: "POST",
    //                contentType : "application/json",
    //                url: "product/create",
    //                data: JSON.stringify(formData),
    //                dataType: 'text',
    //                success : function(data, textStatus, xhr) {
    //                    if (xhr.status == 200) {
    //                        M.toast({html: 'Item Added!!'});
    //                    } else {
    //                        M.toast({html: ' Something went wrong.'});
    //                    }
    //                },
    //                error: function(e) {
    //                    console.log(e)
    //
    //                }
    //            })
    //        }
    //
    //        //                function ajaxGet() {
    //        //                    $.ajax({
    //        //                        type: "GET",
    //        //                        url:
    //        //                    })
    //        //                }
    //
    //
    //    });
</script>

</body>

</html>
