<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Requisition Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap&family=Mansalva&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container-pos">
        <div class="row">
            <div class="col l9">
                <div class="row">
                    <div class="col l12">
                        <th:block  th:each="category : ${category}">
                            <button style="border-radius: 12px; margin-bottom: 10px;" type="button" class="btn white black-text filter" th:text="${category.name}"> </button>
                        </th:block>
                    </div>
                </div>
                <div style="margin-right: -75px;"class="row">
                    <div class="col l3" th:each="product : ${product}" th:if="${product.stock} > 0">
                        <th:block th:each="ctg : ${product.category}">

                        <div th:id="'p' + ${product.id}" style="border-radius:15px;" th:attr="data-category=${ctg.name}" class="card small hoverable add-order">
                            <p hidden="hidden" name="productId" th:text="${product.id}"></p>
                            <div style="border-top-left-radius:15px; border-top-right-radius: 15px;" class="card-image">
                                <img th:src="@{/{productId}/product_image(productId=${product.id})}">
                            </div>
                            <div class="card-content">
                                <p name="productName" class="bold" th:text="${product.name}"></p>
                                <p th:text="${product.description}"></p>
                            </div>
                            <div style="border-bottom-left-radius:15px; border-bottom-right-radius: 15px;" class="card-action">
                                <span>&#8369;</span>
                                <span name="productPrice" th:text="${product.cost}"></span>
                                <div class="right">
                                    <span style="color: gray; font-style: italic;">Stock: </span>
                                    <span class="stock" style="color: gray; font-style: italic;" th:text="${product.stock}">Stock: 999</span>
                                </div>
                            </div>
                        </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <form class="col l12"  id="registerForm" action="#" th:action="@{/pos}" method="post">
                <div style="width: 320px; float: right;" class="col l3 pos-order">
                    <div style="border-top-right-radius: 10px; border-top-left-radius: 10px;" class="row">
                        <div style="border-bottom: 1px solid black; padding: 12px; background-color: #e5e5e5; border-top-right-radius: 10px; border-top-left-radius: 10px;" class="col l12">
                            <span style="font-size: 1.64rem; line-height: 40px; " id="order-history-header">Order List</span>
                            <div style="padding-top: 8px;" class="right">
                                <span id="transactionHistoryBtn" style="background-color: #e5e5e5; border-radius: 5px; padding: 4px; cursor: pointer;"><i class="material-icons-round">history</i></span>
                            </div>
                        </div>
                    </div>

                    <div id="transactionHistory" class="transaction-history">
                        <h6 style="margin-bottom: 3px; font-weight: 600;">Transaction Details</h6>
                        <div style="margin-top: 0px; margin-bottom: 8px; overflow: unset; background: black;" class="divider"></div>
                        <div class="transaction-details">
                            <th:block th:each="order : ${orders}" >
                                <div style="margin-bottom: 5px;" class="row">
                                    <div class="col l8">
                                        <span style="font-weight: bold;">Transaction ID: </span><span th:text="${order.orderNo}"></span><br>
                                        <span style="font-weight: bold;">Date: </span><span style="color: gray;" th:text="${order.createdOn}">Date</span>
                                    </div>
                                    <div class="col l4">
                                        <div class="rightSpan" style="float: right;">
                                            <span>₱</span><span class="listPriceTotal" style="float: right;" th:text="${order.total}">Total</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 0px; margin-bottom: 8px; overflow: unset;" class="divider"></div>
                            </th:block>
                        </div>

                    </div>

                    <div id="orderDetails" class="order-details active">
                        <h6 style="margin-bottom: 0px;">Order Details</h6>
                        <div style="height: 400px;" id="order-list" class="order-list">
                            <div class="emptyorderimg">
                                <img class="emptyorder" src="/images/emptyorder.jpg">
                                <h1 style="font-size: 25px; margin: 0px; justify-self: center;" class="mansalva-regular">Waiting for orders...</h1>
                            </div>
                        </div>

                        <div style="margin-top: 15px;" class="divider"></div>
                        <h6>Payment Summary</h6>
                        <div class="payment">
                            <span class="payment-dtl">Subtotal</span>
                            <div class="right">
                                <span id="subtotal">P0.00</span>
                            </div>
                        </div>

                        <div style="margin-top: 15px; margin-bottom: 10px;" class="divider"></div>
                        <div class="totalPayment">
                            <span  class="payment-dtl">Total</span>
                            <div class="right">
                                <span id="total">P0.00</span>
                                <input hidden="hidden" name="total" value="0">
                            </div>
                        </div>


                        <div>
                            <button class="btn submit-order">
                                <span style="position: relative; top: 4px;"><i class="material-icons-round">shopping_cart</i></span>
                                <span style="font-weight: 550">Submit Order</span>

                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script type="text/javascript" th:src="@{js/pos.js}"></script>
<script>

    $(document).ready(function() {
        $('.sidenav').sidenav();
        $('.modal').modal();
        $('.collapsible').collapsible();
    });


</script>


</body>

</html>
