<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,
        900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header sec:authorize="hasRole('USER')" class="header" th:replace="~{fragments :: header-main-user}"></header>
    <aside sec:authorize="hasRole('USER')" th:replace="~{fragments :: sidebar-user}"></aside>

    <header sec:authorize="hasRole('ADMIN')" class="header" th:replace="~{fragments :: header-main-admin}"></header>
    <aside sec:authorize="hasRole('ADMIN')" th:replace="~{fragments :: sidebar-admin}"></aside>

    <header sec:authorize="hasRole('SUPERADMIN')" class="header" th:replace="~{fragments :: header-main-superadmin}"></header>
    <aside sec:authorize="hasRole('SUPERADMIN')" th:replace="~{fragments :: sidebar-superadmin}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 l6"><a href="#view-products-tab">View Products</a></li>
                    <li class="tab col s3 l6"><a href="#create-products-tab">Create Products</a></li>
                </ul>

                <div id="view-products-tab">
                    <h4>List of Products</h4>
                    <table id="product-table" class="responsive-table highlight z-depth-1">
                        <thead style="background-color: rgba(234,233,233,0.5);">
                            <tr class="product-tr">
                                <!--                                <th>Item No</th>-->
                                <th class="product-th">Item Photo</th>
                                <th class="product-th">Item Name</th>
                                <th class="product-th">Description</th>
                                <th class="product-th">Stock</th>
                                <th class="product-th">Cost</th>
                                <th class="product-th"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="product-tr" th:each="product : ${product}">
                                <!--                                    <td th:text="${product.id}">z</td>-->
<!--                                <td class="product-td">-->
<!--                                    <img class="productImg" th:src="@{${product.photosPath}}">-->
<!--                                </td>-->
                                <td class="product-td">
                                    <img class="productImg" th:src="@{/{productId}/product_image(productId=${product.id})}">
                                </td>
<!--                                <td class="product-td">-->
<!--                                    <img class="productImg" th:src="*{'data:image/jpeg;base64,'+{product.image}}">-->
<!--                                </td>-->
                                <td class="product-td" th:text="${product.name}">z</td>
                                <td class="product-td" th:text="${product.description}">z</td>
                                <td class="product-td" th:text="${product.stock}">z</td>
                                <td class="product-td" th:text="${product.cost}">z</td>
                                <td class="product-td" th:value="${product.id}">
                                    <a th:href="@{/product/edit(id=${product.id})}"><span style="color: gray;" class="material-icons-outlined">update</span></a>
                                    <a th:href="@{'/product/delete/' + ${product.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                        <span style="color: red;" class="material-icons-outlined">close</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row"></div>

                <div id="create-products-tab">
                    <div class="col l2"></div>
                    <form style="border-radius: 30px; padding: 30px;" class="col s12 l8 z-depth-1"  id="registerForm" action="#" th:action="@{/product/create}" method="post" enctype="multipart/form-data" th:object="${productRequest}">
                        <h3>Item Setup</h3>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">inventory_2</i>
                                <input style="color: black;" th:field="*{name}" id="name" type="text" required>
                                <label for="name">Item Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">description</i>
                                <input style="color: black;" th:field="*{description}" id="description" type="text" required>
                                <label for="description">Item Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">add_circle</i>
                                <input style="color: black;" th:field="*{stock}" id="stock" type="number" required>
                                <label for="stock">Item Stock</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">sell</i>
                                <input style="color: black;" th:field="*{cost}" id="cost" type="number" required>
                                <label for="cost">Item Cost</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="file-field input-field col s6">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" id="image" name="image" accept="image/*" required>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <img class="productThumbnail" th:src="@{/images/default-thumbnail.jpg}" id="thumbnail"  alt="preview_image">
                            </div>
                        </div>
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script>

    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.content');

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    $(document).ready(function() {
        $('.tabs').tabs();
        $('#image').on('change', function() {

            //console.log(this.files);
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#thumbnail').attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        })
    });

    function showThumbnail(fileInput) {



    }

//    $(document).ready(function() {
//        $("#registerForm").submit(function(event) {
////            event.preventDefault();
////            ajaxPost();
//            refreshForm();
//        });
//
//        function refreshForm() {
//            $("#name").val("");
//            $("#description").val("");
//            $("#cost").val("");
//        }
//
//        function ajaxPost() {
//            var formData = {
//                name : $("#name").val(),
//                description : $("#description").val(),
//                cost : $("#cost").val(),
//            }
//
//            $.ajax({
//                type: "POST",
//                contentType : "application/json",
//                url: "product/create",
//                data: JSON.stringify(formData),
//                dataType: 'text',
//                success : function(data, textStatus, xhr) {
//                    if (xhr.status == 200) {
//                        M.toast({html: 'Item Added!!'});
//                    } else {
//                        M.toast({html: ' Something went wrong.'});
//                    }
//                },
//                error: function(e) {
//                    console.log(e)
//
//                }
//            })
//        }
//
//        //                function ajaxGet() {
//        //                    $.ajax({
//        //                        type: "GET",
//        //                        url:
//        //                    })
//        //                }
//
//
//    });
</script>

</body>

</html>
