<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.min.css" rel="stylesheet" integrity="sha384-d76uxpdVr9QyCSR9vVSYdOAZeRzNUN8A4JVqUHBVXyGxZ+oOfrZVHC/1Y58mhyNg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js" integrity="sha384-YDIK5P2Wq/2RyB+U8Zt970p1L/fEftZwbF3e22rV/bPMW+m8z+JjycMAr96s7LAz" crossorigin="anonymous"></script>



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col l12 s12">
                <h4 class="page-header">Products</h4>
                <ul sec:authorize="hasAuthority('CREATE_PRODUCT_PERM')" class="tabs">
                    <li class="tab col s3 l6"><a href="#view-products-tab">View Products</a></li>
                    <li class="tab col s3 l6"><a href="#create-products-tab">Create Products</a></li>
                </ul>

                <div sec:authorize="hasAuthority('CREATE_PRODUCT_PERM')" class="row"></div>

                <div  id="view-products-tab">
                    <table id="productsTable" class="z-depth-1 display table-csis">
                        <thead style="background-color: rgba(234,233,233,0.5);">
                            <tr class="tr-csis">
                                <!--                                <th>Item No</th>-->
                                <th class="dt-head-left th-csis" data-dt-order="disable">Item Photo</th>
                                <th class="dt-head-left th-csis">Item Name</th>
                                <th class="dt-head-left th-csis">Description</th>
                                <th class="dt-head-left th-csis">Category</th>
                                <th class="dt-head-left th-csis">Item Type</th>
                                <th class="dt-head-left th-csis">Stock</th>
                                <th class="dt-head-left th-csis">Cost</th>
                                <th class="dt-head-left th-csis">Created On</th>
                                <th class="dt-head-right th-csis" data-dt-order="disable">
                                    <a class="modal-trigger" href="#auditsModal">
                                        <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">history</i>
                                    </a>
                                    <a class="modal-trigger" href="#softDeleteModal">
                                        <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">delete</i>
                                    </a>

                                    <div style="border-radius: 10px; width: 1200px; height: auto;" id="softDeleteModal" class="modal">
                                        <div class="modal-content">
                                            <div class="row">
                                                <div class="col l12">
                                                    <span style="text-align: left; font-size: 28px;" class="left">Deleted Product Records</span>
                                                    <span class="right">
                                                        <a id="closeSoftDeleteModal" class="modal-close btn-flat" >
                                                          <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">close</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <table id="softDeleteTable" class="z-depth-1 display table-csis">
                                                    <thead>
                                                    <tr class="tr-csis">
                                                        <th class="dt-body-left th-csis">Id</th>
                                                        <th class="dt-body-left th-csis">Item Name</th>
                                                        <th class="dt-body-left th-csis">Description</th>
                                                        <th class="dt-body-left th-csis">Category</th>
                                                        <th class="dt-body-left th-csis">Item Type</th>
                                                        <th class="dt-body-left th-csis">Stock</th>
                                                        <th class="dt-body-left th-csis">Cost</th>
                                                        <th class="dt-head-right th-csis" data-dt-order="disable"></th>
                                                    </tr>
                                                    </thead>
                                                    <tr th:each="deletedFields : ${deletedFields}">
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.id}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.name}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.description}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis">
                                                            <th:block th:each="category : ${deletedFields.category}">
                                                                <th:block th:text="${category.name}">[category name]</th:block>
                                                                <br>
                                                            </th:block>
                                                        </td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis">
                                                            <th:block th:each="itemType : ${deletedFields.itemType}">
                                                                <th:block th:text="${itemType.name}">[itemType name]</th:block>
                                                                <br>
                                                            </th:block>
                                                        </td>
                                                        <td style="font-weight: 100; text-align: center;" class="dt-body-left td-csis" th:text="${deletedFields.stock}">z</td>
                                                        <td style="font-weight: 100; text-align: center;" class="dt-body-left td-csis" th:text="${deletedFields.cost}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-right td-csis">
                                                            <a sec:authorize="hasAuthority('DELETE_PRODUCT_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{'/product/restore/' + ${deletedFields.id}}" onclick="return confirm('Are you sure you want to restore this record??')">
                                                                Restore
                                                            </a>
                                                            <a sec:authorize="hasAuthority('DELETE_PRODUCT_PERM')" class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/product/delete/' + ${deletedFields.id}}" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this record?')">
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="border-radius: 10px; width: 1200px; height: auto;" id="auditsModal" class="modal">
                                        <div class="modal-content">
                                            <div class="row">
                                                <div class="col l12">
                                                    <span style="text-align: left; font-size: 28px;" class="left">Logs</span>
                                                    <span class="right">
                                                        <a id="closeAuditsModal" class="modal-close btn-flat" >
                                                          <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">close</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <table id="auditTable" class="z-depth-1 display table-csis">
                                                    <thead>
                                                    <th class="dt-head-left th-csis"></th>
                                                    <th class="dt-head-left th-csis">Action</th>
                                                    <th style="text-align: center;" class="dt-head-left th-csis">Date</th>
                                                    <th style="text-align: center;" class="dt-head-left th-csis">Item Type Id</th>
                                                    <th style="text-align: center;" class="dt-head-left th-csis">Item Type Name</th>
                                                    <th style="text-align: center;" class="dt-head-left th-csis">Performed by</th>
                                                    </thead>
                                                    <tr th:each="audit : ${audits}">
                                                        <td style="font-weight: 100;" th:text="${audit.revId}"></td>
                                                        <td style="font-weight: 100;" th:text="${audit.action}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.date}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.productId}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.productName}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.username}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-csis-body"  th:each="product : ${product}" th:classappend="${product.stock <= product.reorderPoint} ? 'red lighten-4' : ''">
                                <td class="dt-body-left td-csis">
                                    <a class="modal-trigger" th:attr="data-target=|modal-${product.id}|"><img class="productImg" th:src="@{/{productId}/product_image(productId=${product.id})}"></a>
                                    <div style="border-radius: 10px; background-color: rgb(255 255 255 / 79%);" th:id="|modal-${product.id}|" class="modal">
                                        <div class="modal-content">
                                            <img class="center" id="modal-image" th:src="@{/{productId}/product_image(productId=${product.id})}">
                                        </div>
                                        <div class="modal-footer teal lighten-2">
                                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                        </div>
                                    </div>
                                </td>
                                <td class="dt-body-left td-csis" th:text="${product.name}">z</td>
                                <td class="dt-body-left td-csis" th:text="${product.description}">z</td>
                                <td class="dt-body-left td-csis">
                                    <th:block th:each="category : ${product.category}">
                                        <th:block th:text="${category.name}">[category name]</th:block>
                                        <br>
                                    </th:block>
                                </td>
                                <td class="dt-body-left td-csis">
                                    <th:block th:each="itemType : ${product.itemType}">
                                        <th:block th:text="${itemType.name}">[itemType name]</th:block>
                                        <br>
                                    </th:block>
                                </td>
<!--                                <td class="product-td" th:each="category : ${product.category}" th:text="${category.getName()}"></td>-->
<!--                                <td class="product-td" th:each="itemType : ${product.itemType}" th:text="${itemType.getName()}">z</td>-->
                                <td class="dt-body-left td-csis" th:text="${product.stock}">z</td>
                                <td class="dt-body-left td-csis" th:text="'P' + ${product.cost}">z</td>
                                <td class="dt-body-left td-csis" th:text="${product.createdOn}">z</td>
                                <td class="dt-body-left td-csis " th:value="${product.id}">
                                    <div class="right">
                                        <a sec:authorize="hasAuthority('READ_PRODUCT_PERM')" th:attr="data-target=|restockmodal-${product.id}|" class="waves-effect waves-light btn-small modal-trigger crud"  href="#modal1">
                                            Restock
                                        </a>
                                        <a sec:authorize="hasAuthority('READ_PRODUCT_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{'/product/' + ${product.id}}">
                                            View
                                        </a>
                                        <a sec:authorize="hasAuthority('UPDATE_PRODUCT_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{/product/edit(id=${product.id})}">
                                            Update
                                        </a>
                                        <a sec:authorize="hasAuthority('DELETE_PRODUCT_PERM')" class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/product/softdelete/' + ${product.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                            Delete
                                        </a>
                                    </div>
                                    <div style="border-radius: 10px; width: 500px;" th:id="|restockmodal-${product.id}|" class="modal">
                                        <div class="modal-content">
                                            <h4 th:text="'Restock item: ' + ${product.name}"></h4>
                                            <div class="row">
                                                <div class="col l2"></div>
                                                <div class="input-field col l8">
                                                    <i class="material-icons-round prefix">add_circle</i>
                                                    <input th:attr="data-id=${product.id}" class="rQty" th:id="${#ids.seq('rQty')}" type="number" min="0" name="rQty">
                                                    <label>Restock Quantity</label>
                                                </div>
                                                <div class="col l2"></div>

                                            </div>
                                        </div>
                                        <div class="modal-footer teal">
                                            <a id="restockBtn" href="" class="modal-close waves-effect waves-green btn-flat" >Confirm</a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div sec:authorize="hasAuthority('CREATE_PRODUCT_PERM')" id="create-products-tab">
                    <div class="col l2"></div>
                        <form style="border-radius: 30px; padding: 30px;" class="col s12 l8 z-depth-1"  id="registerForm" action="#" th:action="@{/product/create}" method="post" enctype="multipart/form-data" th:object="${productRequest}">
                            <h5>Item Setup</h5>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">inventory_2</i>
                                    <input class="archivo-narrow-a" style="color: black;" th:field="*{name}" id="name" type="text" required>
                                    <label for="name">Item Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">description</i>
                                    <input class="archivo-narrow-a" style="color: black;" th:field="*{description}" id="description" type="text" required>
                                    <label for="description">Item Description</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">add_circle</i>
                                    <input class="archivo-narrow-a" style="color: black;" th:field="*{stock}" id="stock" type="number" min="0" required>
                                    <label for="stock">Item Stock</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">sell</i>
                                    <input class="archivo-narrow-a" style="color: black;" th:field="*{cost}" id="cost" type="number" step="0.01" min="0" required>
                                    <label for="cost">Item Cost</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">settings</i>
                                    <select class="archivo-narrow-a" th:field="*{itemType}" id="itemType" name="itemType" required>
                                        <option class="archivo-narrow-a" value="" disabled selected>Choose your option</option>
                                        <option class="archivo-narrow-a" th:each="itemType : ${itemType} " th:value="${itemType.name}" th:text="${itemType.name}"></option>
                                    </select>
                                    <label>Item Type</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">settings</i>
                                    <select class="archivo-narrow-a" th:field="*{category}" id="category" name="category" required>
                                        <option class="archivo-narrow-a" value="" disabled selected>Choose your option</option>
                                        <option class="archivo-narrow-a" th:each="category : ${category} " th:value="${category.name}" th:text="${category.name}"></option>
                                    </select>
                                    <label>Category</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">add_shopping_cart</i>
                                    <input class="archivo-narrow-a" style="color: black;" th:field="*{reorderPoint}" id="reorderPoint" type="number" required>
                                    <label for="reorderPoint">Reorder Point</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons-round prefix">add_circle</i>
                                    <input class="archivo-narrow-a" style="color: black;" th:field="*{defaultRestockQuantity}" id="defaultRestockQuantity" type="number" required>
                                    <label for="defaultRestockQuantity">Default Restock Quantity</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="file-field input-field col s6">
                                    <div class="btn">
                                        <span>File</span>
                                        <input class="archivo-narrow-a" type="file" id="image" name="image" accept="image/*" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input id="img" class="file-path validate archivo-narrow-a" type="text">
                                    </div>
                                </div>
                                <div>
                                    <img style="padding-left: 100px;" class="productThumbnail" th:src="@{/images/default-thumbnail.jpg}" id="thumbnail"  alt="preview_image">
                                </div>
                            </div>
                            <button disabled="disabled" id="modalTrigger" type="button" data-target="modal" class="btn modal-trigger">Submit</button>
                            <div style="border-radius: 10px; width: 500px;" id="modal" class="modal">
                                <div class="row modal-content valign-wrapper" style="margin: 0px;">
                                    <div class="col l3">
                                        <img style="height:auto; width: 100px;" th:src="@{images/warning.jpg}">
                                    </div>
                                    <div class="col l9 ">
                                        <h6 >Do you want to save this product in the system?</h6>
                                    </div>
                                </div>
                                <div style="margin: 0px;" class="row modal-footer teal">
                                    <button id="submitBtn" type="submit" style="text-align: center;" class="modal-close waves-effect waves-green btn-flat col l6" >Submit</button>
                                    <a id="closeModal" style="text-align: center;" class="modal-close waves-effect waves-green btn-flat col l6" >Cancel</a>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>
<script type="text/javascript" th:src="@{js/product.js}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    $(document).ready(function() {
        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('select').formSelect();
        $('.modal').modal();
        $('.collapsible').collapsible();

        $('#registerForm').on('change', function() {
            var field1 = $('#name').val().length;
            var field2 = $('#description').val().length;
            var field3 = $('#stock').val().length;
            var field4 = $('#cost').val().length;
            var field5 = $('#reorderPoint').val().length;
            var field6 = $('#defaultRestockQuantity').val().length;
            var field7 = $('#img').val().length;

            if(field1 < 1 || field2 < 1 || field3 < 1 || field4 < 1 || field5 < 1 || field6 < 1 || field7 < 1) {
                $('#modalTrigger').prop("disabled", true);
            } else {
                $('#modalTrigger').prop("disabled", false);

            }
        });
    })
</script>

</body>

</html>
