<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Approve Requests</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.min.css" rel="stylesheet" integrity="sha384-d76uxpdVr9QyCSR9vVSYdOAZeRzNUN8A4JVqUHBVXyGxZ+oOfrZVHC/1Y58mhyNg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js" integrity="sha384-YDIK5P2Wq/2RyB+U8Zt970p1L/fEftZwbF3e22rV/bPMW+m8z+JjycMAr96s7LAz" crossorigin="anonymous"></script>



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col l12">
                <div class="col l12">
                    <h4 class="page-header">List of Requests</h4>
                </div>
                <table id="requestTable" class="z-depth-1 display table-csis">
                    <thead style="background-color: rgba(234,233,233,0.5);">
                        <tr class="tr-csis">
                            <th class="dt-head-left th-csis">#</th>
                            <th class="dt-head-left th-csis">Request Name</th>
                            <th class="dt-head-left th-csis">Request Description</th>
                            <th class="dt-head-left th-csis">Created On</th>
                            <th class="dt-head-left th-csis">Last Updated On</th>
                            <th class="dt-head-left th-csis">Status</th>
                            <th class="dt-head-right th-csis" data-dt-order="disable">
                                <a class="modal-trigger" href="#auditsModal">
                                    <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">history</i>
                                </a>
                                <a class="modal-trigger" href="#softDeleteModal">
                                    <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">delete</i>
                                </a>

                                <div style="border-radius: 10px; width: 1200px; height: auto;" id="softDeleteModal" class="modal">
                                    <div class="modal-content">
                                        <div class="row">
                                            <div class="col l12">
                                                <span style="text-align: left; font-size: 28px;" class="left">Deleted Request Records</span>
                                                <span class="right">
                                                        <a id="closeSoftDeleteModal" class="modal-close btn-flat" >
                                                          <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">close</i>
                                                        </a>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <table id="softDeleteTable" class="z-depth-1 display table-csis">
                                                <thead>
                                                <tr class="tr-csis">
                                                    <th class="dt-body-left th-csis">Id</th>
                                                    <th style="text-align: center;" class="dt-body-left th-csis">Request Name</th>
                                                    <th style="text-align: center;" class="dt-body-left th-csis">Request Description</th>
                                                    <th style="text-align: center;" class="dt-body-left th-csis">Status</th>
                                                    <th class="dt-head-right th-csis" data-dt-order="disable"></th>
                                                </tr>
                                                </thead>
                                                <tr th:each="deletedFields : ${deletedFields}">
                                                    <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.id}">z</td>
                                                    <td style="font-weight: 100; text-align: center;" class="dt-body-left td-csis" th:text="${deletedFields.name}">z</td>
                                                    <td style="font-weight: 100; text-align: center;" class="dt-body-left td-csis" th:text="${deletedFields.description}">z</td>
                                                    <td style="font-weight: 100; text-align: center;" class="dt-body-left td-csis" th:text="${deletedFields.status}">z</td>
                                                    <td style="font-weight: 100;" class="dt-body-right td-csis">
                                                        <a sec:authorize="hasAuthority('DELETE_ITEMTYPE_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{'/approve/restore/' + ${deletedFields.id}}" onclick="return confirm('Are you sure you want to restore this record??')">
                                                            Restore
                                                        </a>
                                                        <a sec:authorize="hasAuthority('DELETE_ITEMTYPE_PERM')" class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/approve/delete/' + ${deletedFields.id}}" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this record?')">
                                                            Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div style="border-radius: 10px; width: 1200px; height: auto;" id="auditsModal" class="modal">
                                    <div class="modal-content">
                                        <div class="row">
                                            <div class="col l12">
                                                <span style="text-align: left; font-size: 28px;" class="left">Logs</span>
                                                <span class="right">
                                                        <a id="closeAuditsModal" class="modal-close btn-flat" >
                                                          <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">close</i>
                                                        </a>
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <table id="auditTable" class="z-depth-1 display table-csis">
                                                <thead>
                                                <th class="dt-head-left th-csis"></th>
                                                <th class="dt-head-center th-csis">Action</th>
                                                <th style="text-align: center;" class="dt-head-left th-csis">Date</th>
                                                <th style="text-align: center;" class="dt-head-left th-csis">Request Header Id</th>
                                                <th style="text-align: center;" class="dt-head-left th-csis">Request Name</th>
                                                <th style="text-align: center;" class="dt-head-left th-csis">Performed by</th>
                                                </thead>
                                                <tr th:each="audit : ${audits}">
                                                    <td style="font-weight: 100;" th:text="${audit.revId}"></td>
                                                    <td class="action-col" style="font-weight: 100; text-align: center;" th:switch="${audit.action}">
                                                        <span th:case="'ADD'" class="action-val-add">Create</span>
                                                        <span th:case="'MOD'" class="action-val-mod">Update</span>
                                                        <span th:case="'DEL'" class="action-val-del">Delete</span>
                                                    </td>
                                                    <td style="font-weight: 100; text-align: center;" th:text="${audit.date}"></td>
                                                    <td style="font-weight: 100; text-align: center;" th:text="${audit.hdrId}"></td>
                                                    <td style="font-weight: 100; text-align: center;" th:text="${audit.requestName}"></td>
                                                    <td style="font-weight: 100; text-align: center;" th:text="${audit.username}"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-csis-body" th:each="header : ${requestHeaders}">
                            <td class="dt-body-left td-csis" th:text="${header.id}"></td>
                            <td class="dt-body-left td-csis" th:text="${header.name}">z</td>
                            <td class="dt-body-left td-csis" th:text="${header.description}">z</td>
                            <td class="dt-body-left td-csis" th:text="${header.createdOn}">z</td>
                            <td class="dt-body-left td-csis" th:text="${header.lastUpdatedOn}">z</td>
                            <td class="dt-body-left td-csis">
                                <span th:if="${header.status == 'Pending'} and ${header.noOfApprovedItems == null}" class="pendingR"
                                      th:text="${header.status}"></span>
                                <span th:if="${header.noOfApprovedItems > 0} " class="approvedR"
                                      th:text="${header.status} + ' ' + ${header.noOfApprovedItems} + ' item/s out of ' + ${header.totalRequestedItems}"></span>
                                <span th:if="${header.noOfApprovedItems < 1} and ${header.totalRequestedItems != null}" class="rejectedR"
                                      th:text="'Rejected'"></span>
                            </td>
                            <td class="dt-body-left td-csis" th:value="${header.id}">
                                <div class="right">
                                    <a th:if="${header.status == 'Pending'}" class="waves-effect waves-light btn-small crud" th:href="@{'/approve/' + ${header.id}}">
                                        Assess
                                    </a>
                                    <a th:unless="${header.status == 'Pending'}" class="waves-effect waves-light btn-small cyan darken-3 crud" th:href="@{'/approve/' + ${header.id}}">
                                        Review
                                    </a>
                                    <a  class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/approve/softdelete/' + ${header.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>
<script>

    $(document).ready(function() {
        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('select').formSelect();
        $('.modal').modal();
        $('#requestTable').DataTable({
            columns: [{ width: '5%' }, null, null, null ,null, null, null],
            order: [3, 'desc'],
            layout: {
                topStart: {
                    buttons: ['csv', 'excel', 'pdf', 'print']
                }
            }
        });
        $('#softDeleteTable').DataTable({
            columns: [{ width: '5%' }, null, null, null ,null],
            order: [2, 'desc'],
            layout: {
                topStart: {
                    buttons: ['csv', 'excel', 'pdf', 'print']
                }
            }
        });
        $('#auditTable').DataTable({
            columns: [{ width: '5%' }, null, null, null, null, null],
            order: [2, 'desc'],
            layout: {
                topStart: {
                    buttons: ['csv', 'excel', 'pdf', 'print']
                }
            }
        });
        $('.collapsible').collapsible();
        $('select').formSelect();

        $('.dt-button').addClass("btn");



    });
</script>

</body>

</html>
