<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Requisition Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">


    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 l6"><a href="#view-products-tab">View Products</a></li>
                    <li class="tab col s3 l6"><a href="#create-products-tab">Create Products</a></li>
                </ul>


                <div  id="view-products-tab">
                    <h5 style="padding-bottom: 10px;">List of Products</h5>
                    <table id="table-csis" class="responsive-table highlight z-depth-1">
                        <thead style="background-color: rgba(234,233,233,0.5);">
                        <tr class="tr-csis">
                            <!--                                <th>Item No</th>-->
                            <th class="th-csis">Item Photo</th>
                            <th class="th-csis">Item Name</th>
                            <th class="th-csis">Description</th>
                            <th class="th-csis">Category</th>
                            <th class="th-csis">Item Type</th>
                            <th class="th-csis">Stock</th>
                            <th class="th-csis">Cost</th>
                            <th class="th-csis"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-csis" th:each="product : ${product}">
                            <td class="td-csis">
                                <a class="modal-trigger" th:attr="data-target=|modal-${product.id}|"><img class="productImg" th:src="@{/{productId}/product_image(productId=${product.id})}"></a>
                                <div th:id="|modal-${product.id}|" class="modal">
                                    <div class="modal-content">
                                        <img class="center" id="modal-image" th:src="@{/{productId}/product_image(productId=${product.id})}">
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                                    </div>
                                </div>
                            </td>
                            <td class="td-csis" th:text="${product.name}">z</td>
                            <td class="td-csis" th:text="${product.description}">z</td>
                            <td class="td-csis">
                                <th:block th:each="category : ${product.category}">
                                    <th:block th:text="${category.name}">[category name]</th:block>
                                    <br>
                                </th:block>
                            </td>
                            <td class="td-csis">
                                <th:block th:each="itemType : ${product.itemType}">
                                    <th:block th:text="${itemType.name}">[itemType name]</th:block>
                                    <br>
                                </th:block>
                            </td>
                            <!--                                <td class="product-td" th:each="category : ${product.category}" th:text="${category.getName()}"></td>-->
                            <!--                                <td class="product-td" th:each="itemType : ${product.itemType}" th:text="${itemType.getName()}">z</td>-->
                            <td class="td-csis" th:text="${product.stock}">z</td>
                            <td class="td-csis" th:text="'P' + ${product.cost}">z</td>
                            <td class="td-csis crud" th:value="${product.id}">
                                <a class="waves-effect waves-light btn-small" th:href="@{'/product/' + ${product.id}}">
                                    View
                                </a>
                                <a class="waves-effect waves-light btn-small blue darken-1" th:href="@{/product/edit(id=${product.id})}">
                                    Update
                                </a>
                                <a class="waves-effect waves-light btn-small red lighten-1" th:href="@{'/product/delete/' + ${product.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                    Delete
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                </div>

                <div class="row"></div>
                <div id="create-products-tab">
                    <div class="col l2"></div>
                    <form style="border-radius: 30px; padding: 30px;" class="col s12 l8 z-depth-1"  id="registerForm" action="#" th:action="@{/product/create}" method="post" enctype="multipart/form-data" th:object="${productRequest}">
                        <h3>Item Setup</h3>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">inventory_2</i>
                                <input class="archivo-narrow-a" style="color: black;" th:field="*{name}" id="name" type="text" required>
                                <label for="name">Item Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">description</i>
                                <input class="archivo-narrow-a" style="color: black;" th:field="*{description}" id="description" type="text" required>
                                <label for="description">Item Description</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">add_circle</i>
                                <input class="archivo-narrow-a" style="color: black;" th:field="*{stock}" id="stock" type="number" required>
                                <label for="stock">Item Stock</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">sell</i>
                                <input class="archivo-narrow-a" style="color: black;" th:field="*{cost}" id="cost" type="number" step=".01" required>
                                <label for="cost">Item Cost</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">manage_accounts</i>
                                <select class="archivo-narrow-a" th:field="*{category}" id="category" name="category" required>
                                    <option class="archivo-narrow-a" value="" disabled selected>Choose your option</option>
                                    <option class="archivo-narrow-a" th:each="category : ${category} " th:value="${category.name}" th:text="${category.name}"></option>
                                </select>
                                <label>Item Type</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons-round prefix">manage_accounts</i>
                                <select class="archivo-narrow-a" th:field="*{itemType}" id="itemType" name="itemType" required>
                                    <option class="archivo-narrow-a" value="" selected>Choose your option</option>
                                    <option class="archivo-narrow-a" th:each="itemType : ${itemType} " th:value="${itemType.name}" th:text="${itemType.name}"></option>
                                </select>
                                <label>Item Type</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="file-field input-field col s6">
                                <div class="btn">
                                    <span>File</span>
                                    <input class="archivo-narrow-a" type="file" id="image" name="image" accept="image/*" required>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate archivo-narrow-a" type="text">
                                </div>
                            </div>
                            <div>
                                <img style="padding-left: 100px;" class="productThumbnail" th:src="@{/images/default-thumbnail.jpg}" id="thumbnail"  alt="preview_image">
                            </div>
                        </div>
                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script>

    const tabs = document.querySelectorAll('.tab_btn');
    const all_content = document.querySelectorAll('.content');

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    var collapsibleElem = document.querySelector('.collapsible');
    var collapsibleInstance = M.Collapsible.init(collapsibleElem, {});

    $(document).ready(function() {
        $('.tabs').tabs();
        $('select').formSelect();
        $('.modal').modal();
        $('#image').on('change', function() {

            //console.log(this.files);
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#thumbnail').attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        })
    });

    function showThumbnail(fileInput) {



    }

    //    $(document).ready(function() {
    //        $("#registerForm").submit(function(event) {
    ////            event.preventDefault();
    ////            ajaxPost();
    //            refreshForm();
    //        });
    //
    //        function refreshForm() {
    //            $("#name").val("");
    //            $("#description").val("");
    //            $("#cost").val("");
    //        }
    //
    //        function ajaxPost() {
    //            var formData = {
    //                name : $("#name").val(),
    //                description : $("#description").val(),
    //                cost : $("#cost").val(),
    //            }
    //
    //            $.ajax({
    //                type: "POST",
    //                contentType : "application/json",
    //                url: "product/create",
    //                data: JSON.stringify(formData),
    //                dataType: 'text',
    //                success : function(data, textStatus, xhr) {
    //                    if (xhr.status == 200) {
    //                        M.toast({html: 'Item Added!!'});
    //                    } else {
    //                        M.toast({html: ' Something went wrong.'});
    //                    }
    //                },
    //                error: function(e) {
    //                    console.log(e)
    //
    //                }
    //            })
    //        }
    //
    //        //                function ajaxGet() {
    //        //                    $.ajax({
    //        //                        type: "GET",
    //        //                        url:
    //        //                    })
    //        //                }
    //
    //
    //    });
</script>

</body>

</html>
