<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Supplier Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">


    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.min.css" rel="stylesheet" integrity="sha384-d76uxpdVr9QyCSR9vVSYdOAZeRzNUN8A4JVqUHBVXyGxZ+oOfrZVHC/1Y58mhyNg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js" integrity="sha384-YDIK5P2Wq/2RyB+U8Zt970p1L/fEftZwbF3e22rV/bPMW+m8z+JjycMAr96s7LAz" crossorigin="anonymous"></script>


</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">

            <div class="col s12">
                <h4 class="page-header">Suppliers</h4>
                <ul sec:authorize="hasAuthority('CREATE_SUPPLIER_PERM')" class="tabs">
                    <li class="tab col s3 l6"><a href="#view-supplier-tab">View Suppliers</a></li>
                    <li class="tab col s3 l6"><a href="#create-supplier-tab">Create Supplier</a></li>
                </ul>
                <div sec:authorize="hasAuthority('CREATE_SUPPLIER_PERM')" class="row"></div>
                <div id="view-supplier-tab">
                    <table id="supplierTable" class="z-depth-1 display table-csis">
                        <thead style="background-color: rgba(234,233,233,0.5);">
                            <tr class="tr-csis">
                                <th class="dt-head-left th-csis">Id</th>
                                <th class="dt-head-left th-csis">Name</th>
                                <th class="dt-head-left th-csis">Email</th>
                                <th class="dt-head-left th-csis">Contact No</th>
                                <th class="dt-head-left th-csis">Address</th>
                                <th class="dt-head-left th-csis">Agent</th>
                                <th class="dt-head-left th-csis">Agent Contact No</th>
                                <th class="dt-head-right th-csis" data-dt-order="disable">
                                    <a class="modal-trigger" href="#auditsModal">
                                        <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">history</i>
                                    </a>
                                    <a class="modal-trigger" href="#softDeleteModal">
                                        <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">delete</i>
                                    </a>

                                    <div style="border-radius: 10px; width: 1200px; height: auto;" id="softDeleteModal" class="modal">
                                        <div class="modal-content">
                                            <div class="row">
                                                <div class="col l12">
                                                    <span style="text-align: left; font-size: 28px;" class="left">Deleted Supplier Records</span>
                                                    <span class="right">
                                                        <a id="closeSoftDeleteModal" class="modal-close btn-flat" >
                                                          <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">close</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <table id="softDeletesTable" class="z-depth-1 display table-csis">
                                                    <thead>
                                                        <tr class="tr-csis">
                                                            <th class="dt-body-left th-csis">Id</th>
                                                            <th class="dt-body-left th-csis">Name</th>
                                                            <th class="dt-head-left th-csis">Email</th>
                                                            <th class="dt-head-left th-csis">Contact No</th>
                                                            <th class="dt-head-left th-csis">Address</th>
                                                            <th class="dt-head-left th-csis">Agent</th>
                                                            <th class="dt-head-left th-csis">Agent Contact No</th>
                                                            <th class="dt-head-right th-csis" data-dt-order="disable"></th>
                                                        </tr>
                                                    </thead>
                                                    <tr th:each="deletedFields : ${deletedFields}">
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.id}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.name}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.email}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.contactNo}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.getAddress()}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.agentName}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis" th:text="${deletedFields.agentContactNo}">z</td>
                                                        <td style="font-weight: 100;" class="dt-body-left td-csis">
                                                            <a sec:authorize="hasAuthority('DELETE_SUPPLIER_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{'/supplier/restore/' + ${deletedFields.id}}" onclick="return confirm('Are you sure you want to restore this record??')">
                                                                Restore
                                                            </a>
                                                            <a sec:authorize="hasAuthority('DELETE_SUPPLIER_PERM')" class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/supplier/delete/' + ${deletedFields.id}}" onclick="return confirm('Are you sure you want to PERMANENTLY DELETE this record?')">
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="border-radius: 10px; width: 1200px; height: auto;" id="auditsModal" class="modal">
                                        <div class="modal-content">
                                            <div class="row">
                                                <div class="col l12">
                                                    <span style="text-align: left; font-size: 28px;" class="left">Logs</span>
                                                    <span class="right">
                                                        <a id="closeAuditsModal" class="modal-close btn-flat" >
                                                          <i style="color: #9d9d9d; cursor: pointer;" class="material-icons-round prefix soft-delete">close</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <table id="auditsTable" class="z-depth-1 display table-csis">
                                                    <thead>
                                                        <th class="dt-head-left th-csis"></th>
                                                        <th class="dt-head-center th-csis">Action</th>
                                                        <th style="text-align: center;" class="dt-head-left th-csis">Date</th>
                                                        <th style="text-align: center;" class="dt-head-left th-csis">Supplier Id</th>
                                                        <th style="text-align: center;" class="dt-head-left th-csis">Supplier Name</th>
                                                        <th style="text-align: center;" class="dt-head-left th-csis">Performed by</th>
                                                    </thead>
                                                    <tr th:each="audit : ${audits}">
                                                        <td style="font-weight: 100;" th:text="${audit.revId}"></td>
                                                        <td class="action-col" style="font-weight: 100; text-align: center;" th:switch="${audit.action}">
                                                            <span th:case="'ADD'" class="action-val-add">Create</span>
                                                            <span th:case="'MOD'" class="action-val-mod">Update</span>
                                                            <span th:case="'DEL'" class="action-val-del">Delete</span>
                                                        </td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.date}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.supplierId}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.supplierName}"></td>
                                                        <td style="font-weight: 100; text-align: center;" th:text="${audit.username}"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-csis-body" th:each="supplier : ${supplier}">
                                <td class="dt-body-left td-csis" th:text="${supplier.id}">z</td>
                                <td class="dt-body-left td-csis" th:text="${supplier.name}">z</td>
                                <td class="dt-body-left td-csis" th:text="${supplier.email}">z</td>
                                <td class="dt-body-left td-csis" th:text="${supplier.contactNo}">z</td>
                                <td class="dt-body-left td-csis" th:text="${supplier.getAddress()}">z</td>
                                <td class="dt-body-left td-csis" th:text="${supplier.agentName}">z</td>
                                <td class="dt-body-left td-csis" th:text="${supplier.agentContactNo}">z</td>
                                <td class="dt-body-left td-csis" th:value="${supplier.id}">
                                    <div class="right">
                                        <a sec:authorize="hasAuthority('READ_SUPPLIER_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{'/supplier/' + ${supplier.id}}">
                                            View
                                        </a>
                                        <a sec:authorize="hasAuthority('UPDATE_SUPPLIER_PERM')" class="waves-effect waves-light btn-small crud" th:href="@{/supplier/edit(id=${supplier.id})}">
                                            Update
                                        </a>
                                        <a sec:authorize="hasAuthority('DELETE_SUPPLIER_PERM')" class="waves-effect waves-light btn-small red lighten-1 crud" th:href="@{'/supplier/softdelete/' + ${supplier.id}}" onclick="return confirm('Are you sure you want to delete?')">
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div sec:authorize="hasAuthority('CREATE_SUPPLIER_PERM')" id="create-supplier-tab">
                    <div class="col l2"></div>
                    <form style="border-radius: 30px; padding: 30px;" class="col s12 l8 z-depth-1" id="registerForm" action="#"
                          th:action="@{/supplier/create}" method="post" th:object="${supplierRequest}">
                        <h5>Supplier Setup</h5>
                        <div class="row">
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{name}" id="name" type="text" required>
                                <label for="name">Supplier Name</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{contactNo}" id="contactNo" type="text" required>
                                <label for="name">Contact No</label>
                                <p id="contactNo-message"></p>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{email}" id="email" type="text" required>
                                <label for="name">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{addressLine1}" id="address1" type="text" required>
                                <label for="name">Address Line 1</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{addressLine2}" id="address2" type="text" required>
                                <label for="name">Address Line 2</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{addressLine3}" id="address3" type="text" required>
                                <label for="name">Address Line 3</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{agentName}" id="agentName" type="text" required>
                                <label for="name">Agent Name</label>
                            </div>
                            <div class="input-field col l6">
                                <input style="color: black;" th:field="*{agentContactNo}" id="agentContactNo" type="text" required>
                                <label for="name">Agent Contact No</label>
                                <p id="agentContactNo-message"></p>

                            </div>
                        </div>
                        <button disabled="disabled" id="modalTrigger" type="button" data-target="modal" class="btn modal-trigger">Submit</button>
                        <div style="border-radius: 10px; width: 500px;" id="modal" class="modal">
                            <div class="row modal-content valign-wrapper" style="margin: 0px;">
                                <div class="col l3">
                                    <img style="height:auto; width: 100px;" th:src="@{images/warning.jpg}">
                                </div>
                                <div class="col l9 ">
                                    <h6 >Do you want to save this supplier in the system?</h6>
                                </div>
                            </div>
                            <div style="margin: 0px;" class="row modal-footer teal">
                                <button id="submitBtn" type="submit" style="text-align: center;" class="modal-close waves-effect waves-green btn-flat col l6" >Submit</button>
                                <a id="closeModal" style="text-align: center;" class="modal-close waves-effect waves-green btn-flat col l6" >Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>

<script>

    $(document).ready(function() {
        $('.tabs').tabs();
        $('.collapsible').collapsible();
        $('.modal').modal();
        $('#supplierTable').DataTable({
            columns: [{ width: '5%' }, null, null, null,null, null, null, null],
            layout: {
                topStart: {
                    buttons: ['csv', 'excel', 'pdf', 'print']
                }
            }
        });
        $('#softDeletesTable').DataTable({
            columns: [{ width: '5%' }, null, null, null,null, null, null, null],
            layout: {
                topStart: {
                    buttons: []
                }
            }
        });
        $('#auditsTable').DataTable({
            columns: [{ width: '5%' },{ width: '5%' }, { width: '25%' }, { width: '10%' }, null, null],
            layout: {
                topStart: {
                    buttons: []
                }
            }
        });
        $('select').formSelect();

        $('.dt-button').addClass("btn");

        $('#contactNo').on('keyup', function() {
            if ($('#contactNo').val().length == 0 || $('#contactNo').val().length == null) {
                $('#contactNo-message').html('')
            }
            else if($('#contactNo').val().length != 11) {
                $('#contactNo-message').html('Contact number must be valid!').css('color', 'red');
                $("#submit").prop('disabled', true);
            } else {
                $('#contactNo-message').html('')
                $("#submit").prop('disabled', false);
            }
        });

        $('#agentContactNo').on('keyup', function() {
            if ($('#agentContactNo').val().length == 0 || $('#agentContactNo').val().length == null) {
                $('#agentContactNo-message').html('')
            }
            else if($('#agentContactNo').val().length != 11) {
                $('#agentContactNo-message').html('Contact number must be valid!').css('color', 'red');
                $("#submit").prop('disabled', true);
            } else {
                $('#agentContactNo-message').html('')
                $("#submit").prop('disabled', false);
            }
        });

        $('#registerForm').on('change', function() {
            var field1 = $('#name').val().length;
            var field2 = $('#contactNo').val().length;
            var field3 = $('#email').val().length;
            var field4 = $('#address1').val().length;
            var field5 = $('#address2').val().length;
            var field6 = $('#address3').val().length;
            var field7 = $('#agentName').val().length;
            var field8 = $('#agentContactNo').val().length;

            if(field1 < 1 || field2 < 1 || field3 < 1 || field4 < 1 || field5 < 1 || field6 < 1 || field7 < 1 || field8 < 1) {
                $('#modalTrigger').prop("disabled", true);
            } else {
                $('#modalTrigger').prop("disabled", false);
            }
        });

    });

</script>

</body>

</html>
