<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Supplier Page</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">


    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.min.css" rel="stylesheet" integrity="sha384-d76uxpdVr9QyCSR9vVSYdOAZeRzNUN8A4JVqUHBVXyGxZ+oOfrZVHC/1Y58mhyNg" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js" integrity="sha384-YDIK5P2Wq/2RyB+U8Zt970p1L/fEftZwbF3e22rV/bPMW+m8z+JjycMAr96s7LAz" crossorigin="anonymous"></script>


</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col s12">


            </div>
        </div>
    </main>
</div>
<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>

<script>

    $(document).ready(function() {
        $('.tabs').tabs();
        $('.collapsible').collapsible();
        $('.modal').modal();
        $('#supplierTable').DataTable({
            columns: [{ width: '5%' }, null, null, null,null, null, null, null],
            layout: {
                topStart: {
                    buttons: ['csv', 'excel', 'pdf', 'print']
                }
            }
        });
        $('select').formSelect();

        $('#contactNo').on('keyup', function() {
            if ($('#contactNo').val().length == 0 || $('#contactNo').val().length == null) {
                $('#contactNo-message').html('')
            }
            else if($('#contactNo').val().length != 11) {
                $('#contactNo-message').html('Contact number must be valid!').css('color', 'red');
                $("#submit").prop('disabled', true);
            } else {
                $('#contactNo-message').html('')
                $("#submit").prop('disabled', false);
            }
        });

        $('#agentContactNo').on('keyup', function() {
            if ($('#agentContactNo').val().length == 0 || $('#agentContactNo').val().length == null) {
                $('#agentContactNo-message').html('')
            }
            else if($('#agentContactNo').val().length != 11) {
                $('#agentContactNo-message').html('Contact number must be valid!').css('color', 'red');
                $("#submit").prop('disabled', true);
            } else {
                $('#agentContactNo-message').html('')
                $("#submit").prop('disabled', false);
            }
        });

        $('#registerForm').on('change', function() {
            var field1 = $('#name').val().length;
            var field2 = $('#contactNo').val().length;
            var field3 = $('#email').val().length;
            var field4 = $('#address1').val().length;
            var field5 = $('#address2').val().length;
            var field6 = $('#address3').val().length;
            var field7 = $('#agentName').val().length;
            var field8 = $('#agentContactNo').val().length;

            if(field1 < 1 || field2 < 1 || field3 < 1 || field4 < 1 || field5 < 1 || field6 < 1 || field7 < 1 || field8 < 1) {
                $('#modalTrigger').prop("disabled", true);
            } else {
                $('#modalTrigger').prop("disabled", false);
            }
        });

    });

</script>

</body>

</html>
