<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>View Product</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col l1">
            </div>
            <div class="col l11">
                <div><h3 class="archivo-black-regular" th:text="${product.name}"></h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col l1"></div>
            <div class="col l3">
                <p class="grey-text">Item ID: <span class="grey-text text-darken-2" th:text="${product.id}"></span></p>
            </div>
            <div class="col l3">
                <p class="grey-text">Created on: <span class="grey-text text-darken-2" th:text="${product.createdOn}"></span></p>
            </div>
            <div class="col l3">
                <p class="grey-text">Updated on: <span class="grey-text text-darken-2" th:text="${product.lastUpdatedOn}"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col l1"></div>
            <div class="col l5">
                <div class="row">
                    <div class="input-field col s6">
<!--                        <i class="material-icons prefix">account_circle</i>-->
                        <label for="category">Category</label>
                        <th:block th:each="category : ${product.category}">
                            <input class="archivo-narrow-a" readonly th:value="${category.name}" id="category" type="text">
                            <br>
                        </th:block>
                    </div>
                    <div class="input-field col s6">
<!--                        <i class="material-icons prefix">phone</i>-->
                        <label for="itemType">Item Type</label>
                        <th:block th:each="itemType : ${product.itemType}">
                            <input class="archivo-narrow-a" readonly th:value="${itemType.name}" id="itemType" type="text">
                            <br>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <!--                        <i class="material-icons prefix">account_circle</i>-->
                        <input class="archivo-narrow-a" readonly th:value="${product.stock}" id="stock" type="number">
                        <label for="stock">Stock</label>
                    </div>
                    <div class="input-field col s6">
                        <!--                        <i class="material-icons prefix">phone</i>-->
                        <input class="archivo-narrow-a" readonly th:value="${product.cost}" id="price" type="number">
                        <label for="price">Price (&#8369;)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <!--                        <i class="material-icons prefix">account_circle</i>-->
                        <input class="archivo-narrow-a" readonly id="description" type="text" th:value="${product.description}">
                        <label for="description">Description</label>
                    </div>
                    <div class="input-field col s6">
                        <!--                        <i class="material-icons prefix">account_circle</i>-->
                        <input class="archivo-narrow-a" readonly id="reorderPoint" type="text" th:value="${product.reorderPoint}">
                        <label for="reorderPoint">Reorder Point</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <!--                        <i class="material-icons prefix">account_circle</i>-->
                        <input class="archivo-narrow-a" readonly id="defaultRestockQuantity" type="text" th:value="${product.defaultRestockQuantity}">
                        <label for="defaultRestockQuantity">Default Restock Quantity</label>
                    </div>
                </div>
            </div>
            <div class="col l5">
                <img class="center" th:src="@{/{productId}/product_image(productId=${product.id})}">
            </div>
            <div class="col l1"></div>
        </div>
        <div class="row">
            <div class="col l1"></div>
            <div class="col l10">
                <h5>Logs</h5>
                <table id="logs" class="z-depth-1 display table-csis">
                    <thead style="background-color: rgba(234,233,233,0.5);">
                    <tr class="tr-csis">
                        <th class="dt-head-left th-csis">Version</th>
                        <th class="dt-head-left th-csis">Name</th>
                        <th class="dt-head-left th-csis">Description</th>
                        <th class="dt-head-left th-csis">Category</th>
                        <th class="dt-head-left th-csis">Item Type</th>
                        <th class="dt-head-left th-csis">Stock</th>
                        <th class="dt-head-left th-csis">Cost</th>
                        <th class="dt-head-left th-csis">Updated By</th>
                        <th class="dt-head-left th-csis">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="logs, status : ${logs}">
                        <tr class="tr-csis-body" th:each="rev : ${logs.getEntity()}">
                            <td class="dt-body-left td-csis" th:text="${status.index + 1}">z</td>
                            <td class="dt-body-left td-csis" th:text="${rev.name}">z</td>
                            <td class="dt-body-left td-csis" th:text="${rev.description}">z</td>
                            <td class="dt-body-left td-csis">
                                <th:block th:each="category : ${rev.category}">
                                    <th:block th:text="${category.name}">[category name]</th:block>
                                    <br>
                                </th:block>
                            </td>
                            <td class="dt-body-left td-csis">
                                <th:block th:each="itemType : ${rev.itemType}">
                                    <th:block th:text="${itemType.name}">[itemType name]</th:block>
                                    <br>
                                </th:block>
                            </td>
                            <td class="dt-body-left td-csis" th:text="${rev.stock}">z</td>
                            <td class="dt-body-left td-csis" th:text="${rev.cost}">z</td>
                            <td class="dt-body-left td-csis" th:text="${rev.lastUpdatedBy}">z</td>
                            <td class="dt-body-left td-csis" th:text="${logs.getMetadata().getRevisionType()}">z</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div class="col l1"></div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script>

    $(document).ready(function() {
        $('.tabs').tabs();
        $('select').formSelect();
        $('.modal').modal();
        $('.collapsible').collapsible();
        $('#image').on('change', function() {

            //console.log(this.files);
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#thumbnail').attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        })
    });

    function showThumbnail(fileInput) {



    }

    //    $(document).ready(function() {
    //        $("#registerForm").submit(function(event) {
    ////            event.preventDefault();
    ////            ajaxPost();
    //            refreshForm();
    //        });
    //
    //        function refreshForm() {
    //            $("#name").val("");
    //            $("#description").val("");
    //            $("#cost").val("");
    //        }
    //
    //        function ajaxPost() {
    //            var formData = {
    //                name : $("#name").val(),
    //                description : $("#description").val(),
    //                cost : $("#cost").val(),
    //            }
    //
    //            $.ajax({
    //                type: "POST",
    //                contentType : "application/json",
    //                url: "product/create",
    //                data: JSON.stringify(formData),
    //                dataType: 'text',
    //                success : function(data, textStatus, xhr) {
    //                    if (xhr.status == 200) {
    //                        M.toast({html: 'Item Added!!'});
    //                    } else {
    //                        M.toast({html: ' Something went wrong.'});
    //                    }
    //                },
    //                error: function(e) {
    //                    console.log(e)
    //
    //                }
    //            })
    //        }
    //
    //        //                function ajaxGet() {
    //        //                    $.ajax({
    //        //                        type: "GET",
    //        //                        url:
    //        //                    })
    //        //                }
    //
    //
    //    });
</script>

</body>

</html>
