<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>View Request</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&family=Modak&display=swap" rel="stylesheet">

    <!-- MATERIAL ICON -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}"  media="screen,projection"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">



</head>
<body>
<div class="grid-container">
    <header class="header" th:replace="~{fragments :: header-main}"></header>
    <aside th:replace="~{fragments :: sidebar}"></aside>

    <main class="main-container">
        <div class="row">
            <div class="col l12">
                <div class="row">
                    <div class="col l12">
                        <h4 class="page-header"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12">
                        <form class="col l12"  id="registerForm" action="#" th:action="@{/approve}" method="post">
                            <div class="row">
                                <div class="col l11"><h5>Request Header</h5></div>
                                <div class="col l1">
                                    <h5 th:if="${hdr.status == 'Approved'}"><span class="approved" th:text="${hdr.status}"></span></h5>
                                    <h5 th:if="${hdr.status == 'Rejected'}"><span class="rejected" th:text="${hdr.status}"></span></h5>
                                    <h5 th:if="${hdr.status == 'Pending'}"><span class="pending" th:text="${hdr.status}"></span></h5>
                                </div>
                                    <input hidden="hidden" th:value="${hdr.id}" id="id" name="id">
                                <div class="input-field col l3">
                                    <input readonly class="archivo-narrow-a" style="color: black;" th:value="${hdr.name}"  id="name" type="text" required>
                                    <label for="name">Request Title</label>
                                </div>
                                <div class="input-field col l3">
                                    <input readonly class="archivo-narrow-a" style="color: black;" th:value="${hdr.createdOn}"  id="date" type="text" required>
                                    <label for="date">Date Created</label>
                                </div>
                                <div class="input-field col l12">
                                    <input readonly class="archivo-narrow-a" style="color: black;"  th:value="${hdr.description}" id="description" type="text" required>
                                    <label for="description">Request Description</label>
                                </div>

                            </div>
                            <div class="row form-setup">
                                <h5>Request Details</h5>
                                <div class="col l12">
                                </div>
                                <table class="responsive-table highlight z-depth-1">
                                    <thead style="background-color: #2bbbad42;">
                                    <tr>
                                        <th style="padding-right: 0px; margin-right: 0px;"></th>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="requestDetail" th:each="dtl : ${dtl}">
                                        <tr>
                                            <td style="padding-right: 0px; margin-right: 0px;">
                                                <a><img class="productImg" id="product-image" th:src="${dtl.imgUrl}"></a>
                                            </td>
                                            <td>
                                                <p class="archivo-narrow-a" style="color: black;"  th:text="${dtl.product}" id="product"></p>
                                            </td>
                                            <td>
                                                <p class="archivo-narrow-a" style="color: black;"  th:text="${dtl.quantity}" id="qty"></p>
                                            </td>
                                            <td>
                                                <p class="archivo-narrow-a" style="color: black;"  th:text="${dtl.total}" id="total"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${hdr.status == 'Pending'}">
                                <button id="approve" name="status" class="btn" value="1">Approve</button>
                                <button id="reject" name="status" class="btn red" value="0">Reject</button>
                            </div>
                            <div th:unless="${hdr.status == 'Pending'}">
                                <button disabled id="disabled-approve" name="status" class="btn" value="1">Approve</button>
                                <button disabled id="disabled-reject" name="status" class="btn red" value="0">Reject</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" th:src="@{js/materialize.min.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });

    var collapsibleElem = document.querySelector('.collapsible');
    var collapsibleInstance = M.Collapsible.init(collapsibleElem, {});



    $(document).ready(function() {
        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('select').formSelect();
        $('.modal').modal();

        var vars = {};
        var i = 0;

        $('#registerForm').on('change load', function() {
            var cost = parseFloat($('#itemList option:selected').attr('data-cost'));
            var qty = parseFloat($('#qty').val());
            var total = cost * qty;
            $('#total').val(total);

            var imgId = $('#itemList option:selected').attr('data-id');
            $('#product-image').attr('src', '/' + imgId + '/' + 'product_image');

            vars['cost'+i] = parseFloat($('#itemList' + i +' option:selected').attr('data-id'));
            vars['qty'+i] = parseFloat($('#qty'+i).val());
            vars['total'+i] = vars['cost'+i] * vars['qty'+i];
            $('#total'+i).val(vars['total'+i]);

            vars['imgId'+i] = $('#itemList' + i + ' option:selected').attr('data-id');
            $('#product-image'+i).attr('src', '/' + vars['imgId'+i] + '/' + 'product_image');
        })

        $('#add').on('click change', function() {
            i++;
            $('#requestDetail').append(
                "<tr>"
                + "<td style='padding-right: 0px; margin-right: 0px;'><a><img class='productImg' id='product-image" + i +"' src=''></a></td>"
                + "<td id='selectRow" + i +"'></td>"
                + "<td><input class='archivo-narrow-a' style='color: black;'  id='qty" + i +"' name='qty[]' type='number' required></td>"
                + "<td><input readonly class='archivo-narrow-a' style='color: black;' id='total" + i +"' name='total[]' type='number' required></td>"
                + "<td><button type='button' id='removeRow" + i +"' name='removeRow' class='btn right removeRow'>Remove</button></td>"
                + "</tr>");
            $('select#itemList').clone().attr('id','itemList'+i).css('display','block').appendTo('#selectRow' + i);
            vars['cost'+i] = parseFloat($('#itemList' + i + ' option:selected').attr('data-id'));
            vars['qty'+i] = parseFloat($('#qty'+i).val());
            vars['total'+i] = vars['cost'+i] * vars['qty'+i];
            $('#total'+i).val(vars['total'+i]);
            vars['imgId'+i] = $('#itemList' + i + ' option:selected').attr('data-id');
            $('#product-image'+i).attr('src', '/' + vars['imgId'+i] + '/' + 'product_image');
        });

        $(document).on('click', 'button[id^="removeRow"]', function(){
            $(this).parent().parent().remove();
        });

    });
</script>

</body>

</html>
